{% extends 'base.html' %}
{% block title %}ADEL | agregar gasto {% endblock %}
{% block body %}
<body onload="set_initial_date()">  
{% load staticfiles %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<script src="{% static '/static/js/generic/calendarios.js'%}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/gastos/creacion.gastos.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/generic/table.css' %}"/>
<div class = "header">
  <span class="header_text">Agregar gasto</span>
  <img src="{% static 'img/iconos/gastos40.png' %}" alt="ups">
</div>

<section class="seccion_formulario">
    <form method="post">
    {% csrf_token %}
    <div class="seccion_1">
        <div>
            <label class="label-formularios">Proveedor *</label>
            <select id="proveedor" name="proveedor">
                <option value="%">---------</option>
                {% for proveedor in proveedores %}
                 <option name="proveedor" id="proveedor" value="{{ proveedor.nombre }}" >{{ proveedor.nombre }}</option>
                {% endfor %}
            </select><br><br>
        </div>
        <div class="motivo">
            <label class="label-formularios">Motivo</label>
            <input type="text" name="motivo" id="motivo" class="motivo"> <br><br>
        </div>
    </div>

    <div class="seccion_2">
         <table style="width: 99%;">
            <tbody>      
            <tr class="generic-tr">
                <td class="td-left">
                    <label class="label-formularios">Empleado</label>
                </td>
                <td class="td-right">
                    <select id="empleado" name="empleado">
                        <option value="%">---------</option>
                        {% for empleado in empleados %}
                        <option name="empleado" id="empleado" value="{{ empleado.nombre }}">{{ empleado.nombre }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr class="generic-tr">
                <td class="td-left">
                    <label class="label-formularios">Monto</label></td>
                <td class="td-right">
                    <input type="text" name="precio" id="precio" name="precio"> <br><br>
                </td>
            </tr>
             <tr class="generic-tr">
                <td class="td-left">
                    <label class="label-formularios">Tipo de cambio</label></td>
                <td class="td-right">
                    <select id="dolares" name="dolares">
                        {% for choice in form.dolares.field.choices %}
                            <option id="dolares" name="dolares" value={{choice.0}} >{{ choice.1}}</option>
                        {% endfor %}
                    </select>
                    <br><br>
                </td>
            </tr>
            <tr class="generic-tr">
                <td class="td-left">
                    <label class="label-formularios">Tipo de pago</label></td>
                <td class="td-right">
                    <select id="tipo_pago" name="tipo_pago">
                        {% for choice in form.tipo_pago.field.choices %}
                            <option id="tipo_pago" name="tipo_pago" value={{choice.0}} >{{ choice.1}}</option>
                        {% endfor %}
                    </select><br><br>
                </td>
            </tr>
           
            <tr class="generic-tr">
                <td class="td-left">
                    <label class="label-formularios">Hora</label>
                </td>
                <td class="td-right"><input type="text" name="fecha" id="datepicker">
                    <select name = "hora" id="hora" onchange="set_date()">
                        <option value="00:00">Hora</option>
                        <option name = "hora" id="hora" value="08:00">08:00</option>
                        <option name = "hora" id="hora" value="08:30">08:30</option>
                        <option name = "hora" id="hora" value="09:00">09:00</option>
                        <option name = "hora" id="hora" value="09:30">09:30</option>
                        <option name = "hora" id="hora" value="10:00">10:00</option>
                        <option name = "hora" id="hora" value="10:30">10:30</option>
                        <option name = "hora" id="hora" value="11:00">11:00</option>
                        <option name = "hora" id="hora" value="11:30">11:30</option>
                        <option name = "hora" id="hora" value="12:00">12:00</option>
                        <option name = "hora" id="hora" value="12:30">12:30</option>
                        <option name = "hora" id="hora" value="13:00">13:00</option>
                        <option name = "hora" id="hora" value="13:30">13:30</option>
                        <option name = "hora" id="hora" value="14:00">14:00</option>
                        <option name = "hora" id="hora" value="14:30">14:30</option>
                        <option name = "hora" id="hora" value="15:00">15:00</option>
                        <option name = "hora" id="hora" value="15:30">15:30</option>
                        <option name = "hora" id="hora" value="16:00">16:00</option>
                        <option name = "hora" id="hora" value="16:30">16:30</option>
                        <option name = "hora" id="hora" value="17:00">17:00</option>
                        <option name = "hora" id="hora" value="17:30">17:30</option>
                        <option name = "hora" id="hora" value="18:00">18:00</option>
                        <option name = "hora" id="hora" value="18:30">18:30</option>
                        <option name = "hora" id="hora" value="19:00">19:00</option>
                        <option name = "hora" id="hora" value="19:30">19:30</option>
                        <option name = "hora" id="hora" value="20:00">20:00</option>
                        <option name = "hora" id="hora" value="20:30">20:30</option>
                    </select>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="seccion_botones">           
        <input class="btn btn-success boton_1" id="save_contact" onclick="set_empty_values()" 
        type="submit" value="Registrar"/>
        <a href="/lista.gastos" class="btn btn-default boton_2">Volver</a>
    </div>
    </form>
</section>
</div>
<script>
function set_initial_date(){
        var fecha = document.getElementById('datepicker');
        if (fecha.value.length == 0){
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth()+1; //January is 0!
        var yyyy = today.getFullYear();
        if(dd<10) {
            dd = '0'+dd 
        } 
        if(mm<10) {
            mm = '0'+mm
        } 
        today = yyyy + '-' + mm + '-' + dd;
        fecha.value = today;
        }
    }
    function set_date(){
        var fecha = document.getElementById('datepicker');
        var hora = document.getElementById('hora');
        console.log("fecha")
        console.log(fecha.value)
        console.log("hora")
        console.log(hora.value)

        if (fecha.value.length > 10){  
            console.log("MAYOR QUE 10")
            if (hora.value != "00:00"){
                fecha.value = fecha.value.substring(0,10);
                fecha.value = fecha.value + " " + hora.value;
            }else {
            console.log("MENOR QUE 10")
            fecha.value = fecha.value.substring(0,10);    
            }
           
        }else{
            fecha.value = fecha.value + " " + hora.value;
            console.log("FECHA FINAL")
            console.log(fecha.value)
        }

    }
    function set_empty_values(){
        console.log("entre al metodo");
        proveedor = document.getElementById('proveedor');
        motivo = document.getElementById('motivo');
        empleado = document.getElementById('empleado');
        precio = document.getElementById('precio');
        dolares = document.getElementById('dolares');

        if (proveedor.value == ""){
            alert('el campo proveedor es requerido');
            proveedor.value = "";
        }
        if (motivo.value == ""){
            motivo.value = "--";
        }
        if (empleado.value == ""){
            empleado.value = "No registrado";
        }
        if (precio.value == ""){
            precio.value = "--";
        }
        if (dolares.value == ""){
            dolares.value = "--";
        }
    }
</script>
</body>
{% endblock %}
