{% extends 'base.html' %}
{% block title %}ADEL | agregar gasto{% endblock %}

{% block body %}
<body onload="set_initial_date()">    
{% load staticfiles %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script src="{% static '/static/js/generic/calendarios.js'%}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/gastos/creacion.gastos.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/generic/table.css' %}"/>

<div class = "header">
  <span class="header_text">Registrar un gasto</span>
  <img src="{% static 'img/iconos/gastos40.png' %}" alt="ups">
</div>

<section class="seccion_formulario">
    <form method=post>
    {% csrf_token %}
    <div class="seccion_1">
        <div class="select">
            <label class="label-formularios">{{ form.proveedor.label}}</label>
            {{ form.proveedor }}       
        </div><br>
        <div class="motivo">
            <label class="label-formularios">{{ form.motivo.label}}</label>
            {{ form.motivo }}
        </div>

    </div>

    <div class="seccion_2">
        <table style="width: 99%;">
            <tbody>      
            <tr class="generic-tr">
                <td class="td-left"><label class="label-formularios">{{ form.empleado.label }}</label></td>
                <td class="td-right">{{ form.empleado }}  </td>
            </tr>
            <tr class="generic-tr">
                <td class="td-left"><label class="label-formularios">{{ form.tipo_pago.label }}</label></td>
                <td class="td-right">{{ form.tipo_pago }}  </td>
            </tr>
            <tr class="generic-tr">
                <td class="td-left"><label class="label-formularios">{{ form.precio.label }}</label></td>
                <td class="td-right">{{ form.precio }}</td>
            </tr>
            <tr class="generic-tr">
                <td class="td-left"><label class="label-formularios">{{ form.dolares.label}}</label></td>
                <td class="td-right">{{ form.dolares }}  </td>
            </tr>
            <tr class="generic-tr">
                <td class="td-left"><label class="label-formularios">{{ form.fecha_gasto.label}}</label></td>
                <td class="td-right">{{ form.fecha_gasto }}
                    <select name = "hora" id="hora" onchange="set_date()">
                        <option value="00:00">Hora</option>
                        <option name = "hora" id="hora" value="08:00">08:00</option>
                        <option name = "hora" id="hora" value="08:30">08:30</option>
                        <option name = "hora" id="hora" value="09:00">09:00</option>
                        <option name = "hora" id="hora" value="09:30">09:30</option>
                        <option name = "hora" id="hora" value="10:00">10:00</option>
                        <option name = "hora" id="hora" value="10:30">10:30</option>
                        <option name = "hora" id="hora" value="11:00">11:00</option>
                        <option name = "hora" id="hora" value="11:30">11:30</option>
                        <option name = "hora" id="hora" value="12:00">12:00</option>
                        <option name = "hora" id="hora" value="12:30">12:30</option>
                        <option name = "hora" id="hora" value="13:00">13:00</option>
                        <option name = "hora" id="hora" value="13:30">13:30</option>
                        <option name = "hora" id="hora" value="14:00">14:00</option>
                        <option name = "hora" id="hora" value="14:30">14:30</option>
                        <option name = "hora" id="hora" value="15:00">15:00</option>
                        <option name = "hora" id="hora" value="15:30">15:30</option>
                        <option name = "hora" id="hora" value="16:00">16:00</option>
                        <option name = "hora" id="hora" value="16:30">16:30</option>
                        <option name = "hora" id="hora" value="17:00">17:00</option>
                        <option name = "hora" id="hora" value="17:30">17:30</option>
                        <option name = "hora" id="hora" value="18:00">18:00</option>
                        <option name = "hora" id="hora" value="18:30">18:30</option>
                        <option name = "hora" id="hora" value="19:00">19:00</option>
                        <option name = "hora" id="hora" value="19:30">19:30</option>
                        <option name = "hora" id="hora" value="20:00">20:00</option>
                        <option name = "hora" id="hora" value="20:30">20:30</option>
                    </select>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="seccion_botones">           
        <input class="btn btn-success boton_1" id="save_contact" 
        type="submit" value="Registrar"/>
        <a href="/lista.gastos" class="btn btn-default boton_2">Volver</a>
    </div>
    </form>
</section>

<!-- <section class="seccion_errores">   
    <p class="errores_p">Corrige los siguientes errores</p> 
    <p>proveedor - {{ form.proveedor.errors }}</p>
    <p>motivo - {{ form.motivo.errors }}</p>
    <p>divisa - {{ form.dolares.errors }}</p>
    <p>dentista - {{ form.empleado.errors }}</p>
    <p>precio - {{ form.precio.errors }}</p>              
    <p>fecha de gasto - {{ form.fecha_gasto.errors }}</p>
</section> -->

<script>
    function set_initial_date(){
        var fecha = document.getElementById('datepicker');
        if (fecha.value.length == 0){
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth()+1; //January is 0!
        var yyyy = today.getFullYear();

        if(dd<10) {
            dd = '0'+dd 
        } 
        if(mm<10) {
            mm = '0'+mm
        } 

        today = yyyy + '-' + mm + '-' + dd;
        fecha.value = today;
        }
    }
    function set_date(){
        var fecha = document.getElementById('datepicker');
        var hora = document.getElementById('hora');

        if (fecha.value.length > 10){  
            if (hora.value != "00:00"){
                fecha.value = fecha.value.substring(0,10);
                fecha.value = fecha.value + " " + hora.value;
            }else {
            fecha.value = fecha.value.substring(0,10);    
            }
           
        }else{
            fecha.value = fecha.value + " " + hora.value;
        }
    }
</script>

</body>
{% endblock %}
