{% extends "base.html" %}
{% block title %}ADEL | Gastos {% endblock %}
{% load staticfiles %}

{% block body %}

<section class="seccion_eliminar">
	<form method=post>
		{% csrf_token %}
		{% for gasto in gastos %}
		<span class="p_confirmacion" style="margin-left:25%">¿Estás seguro de eliminar este gasto?</span>
		<br><br>
		<p><b>Proveedor</b></p>
		<p>{{ gasto.proveedor }}</p>
		<p><b>Fecha</b></p>
		<p>{{ gasto.fecha_gasto }}</p>
		<p><b>Motivo</b></p>
		<p>{{ gasto.motivo }}</p><br>
		{% endfor %}
		<input type="submit" value="confirmar" class="btn_confirmar">
	<a href="/lista.gastos">
		<input type="button" value="volver a la lista" class="btn_volver"><br><br>
	</a>
	</form>
</section>	
{% endblock %}