{% extends "base.html" %}
{% block title %}ADEL | gastos {% endblock %}

{% block body %}
{%load staticfiles %}
  <script src="{% static '/static/js/generic/calendarios.js'%}"></script>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 

<div class = "header">
  <span class="header_text">Gastos actuales <label>{{ total_gastos }}<label> </span>
  <img src="{% static 'img/iconos/gastos40.png' %}" alt="ups">
</div>

<section class="seccion_fondo">
  <!-- *********************************** barra de busqueda *********************************** -->
  <section class="herramientas_menu">     
    <form method=post>
    {% csrf_token %}
      <div class="seccion_busqueda">   
        <span><b>Buscar</b></span>
        
        <input type="text" id="myInput" name="gasto" 
        placeholder="nombre o motivo" class="search_busqueda"/>
        
        <input type="text" id="datepicker" name="fecha_inicial" onclick="clear_text()" 
        placeholder="fecha inicial" class="search_busqueda_fecha_inicial"/>

        <input type="text" id="datepickerf" name="fecha_final" onclick="clear_textf()" 
        placeholder="fecha final" class="search_busqueda_fecha_final"/>


      <!-- Seccion botones -->
        <a class="">
          <input type="submit" name="link_add_gasto" 
          class="btn_busqueda" value="Buscar"/>
        </a>
        <a href="/registro.gastos">
          <input type="button" name="link_add_gasto" 
          class="btn_agregar_elemento" value=" Agregar un gasto"/>
        </a>
      </div>

    </form>
  </section>
<hr>

<!-- *********************************** tabla de datos *********************************** -->  
  <section>
    <table>
       <thead class="columna">
            <th>Proveedor</th>
            <th>Motivo</th>
            <th>Fecha</th>
            <th>Informacion</th>
            <th>Edicion</th>
            <th>Acciones</th>
       </thead>
       {% for gasto in gastos %}
       <tbody class="contenido" id="contenido">
            <td style="width:15%">{{ gasto.proveedor }}</td>
            <td style="width:25%">{{ gasto.motivo }}</td>
            <td style="width:15%">{{ gasto.fecha_gasto }}</td>
            <td style="width:7%">
             <a type="button" class="glyphicon glyphicon-search" 
             onclick="open_modal('{{ gasto.proveedor }}','{{ gasto.motivo }}','{{ gasto.empleado }}',
             '{{ gasto.precio }}','{{gasto.dolares }}','{{ gasto.tipo_pago }}',
             '{{ gasto.fecha_gasto }}','{{ gasto.pk }}')"> Ver
             </a>
            </td>
            <td style="width:7%">
              <a href="{{ gasto.url_editar_gasto }}" class="glyphicon glyphicon-pencil"> Editar</a>
            </td>
            <td style="width:7%">
              <a href="{{ gasto.url_borrar_gasto }}" class="glyphicon glyphicon-trash"> Borrar</a>
            </td>
       </tbody>
       {% endfor %}
      </table>
  {% if mensaje != "" %}
     <div class="empty_query_result">{{ mensaje }}</div>
  {% endif %}
  <br><br>
</section>

<!-- *********************************** modal ver *********************************** -->  
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <p id="textoProveedor" class="modal-header-p"></p>
    </div>
    <div class="modal-body">
      <table>
        <tr>
          <td><b>Motivo</b></td>
          <td id="textoMotivo"></td>
        </tr>
        <tr>
          <td><b>Empleado</b></td>
          <td id="textoEmpleado"></td>
        </tr>
        <tr>
          <td><b>Costo</b></td>
          <td id="textoPrecio"></td>
        </tr>
        <tr>
          <td><b>Tipo de pago</b></td>
          <td id="textoTipoPago"></td>
        </tr>
        <tr>
          <td><b>Fecha</b></td>
          <td id="textoFechaGasto"></td>
        </tr>
      </table>
    </div>
    <div class="modal-footer">
      <a href="" id="id_editar">
        <button  class="btn btn-modal-edit">Editar</button>
      </a>
      <button class="btn btn-modal-close"> Cerrar </button>
    </div>
  </div>
</div>

<script>
  var modal = document.getElementById('myModal');
  var content_proveedor = document.getElementById('textoProveedor');
  var content_motivo = document.getElementById('textoMotivo');
  var content_empleado = document.getElementById('textoEmpleado');
  var content_precio = document.getElementById('textoPrecio');
  var content_tipo = document.getElementById('textoTipoPago');
  var content_fecha = document.getElementById('textoFechaGasto');
  var content_editar = document.getElementById('id_editar');

  var close = document.getElementsByClassName("btn-modal-close")[0];

  function open_modal(proveedor, motivo, empleado, precio, dolares, tipo_pago,fecha,pk) { 
    modal.style.display = "block";
    content_proveedor.innerHTML = "Gasto de "+proveedor;
    content_motivo.innerHTML = motivo;
    content_empleado.innerHTML = empleado;
    content_precio.innerHTML = precio + " " + dolares;
    content_tipo.innerHTML = tipo_pago;
    content_fecha.innerHTML = fecha;
    content_editar.href = "/gastos/editar/"+ pk;
  }

  close.onclick = function() {
      modal.style.display = "none";
  }

  window.onclick = function(event) {
      if (event.target == modal) {
          modal.style.display = "none";
      }
  }
</script>



{% endblock %}


