{% extends "base.html" %}
{% block title %}ADEL | gastos {% endblock %}

{% block body %}
{% load staticfiles %}
<meta charset="utf-8">
<script src="{% static '/static/js/generic/calendarios.js'%}"></script>

<!-- ************************************  HELPER ************************************ -->
<div class="container thumbnail helper">
  <div class="col-md-2 volver">
    <a href="../"><label class="glyphicon glyphicon-chevron-left"></label>&nbsp;Volver</a>
  </div>
  <div class="col-md-9 bs-header-text helper-text">
    <label>gastos actuales <label class="total">{{ total }}</label>
  </div>
  <div class="helper-img col-md-1">
    <img src="{% static 'img/iconos/gastos40.png' %}"  class="helper-img" alt="ups">
  </div>
</div>

<section class="container thumbnail grid">
  <!-- ************************************  FORM ************************************ -->
    <section>
      <form method=post class="container-fluid grid-elements">
        {% csrf_token %}
        <div class="col-md-5">
          <input type="text" id="myInput" name="gasto" placeholder="proveedor o motivo" class="input-personalized"/>
        </div> 
  
        <div class="col-md-2">
          <input type="text" id="datepicker" name="fecha_inicial" onclick="clear_text()" class="input-personalized" placeholder="fecha inicial" />
        </div>
        <div class="col-md-2">
          <input type="text" id="datepickerf" name="fecha_final" onclick="clear_textf()" class="input-personalized" placeholder="fecha final" />
        </div>
        <div class="col-md-1">
          <a>
            <input type="submit" name="link_add_gasto" class="btn btn-default" value="Buscar"/>
          </a>
        </div>
        <div class="col-md-2">
          <a href="/registro.gasto">
            <input type="button" name="link_add_gasto" class="btn btn-success" value="+ Agregar gasto"/>
          </a>
        </div>
      </form> 
    </section>
  <hr>

  <!-- *********************************** grid *********************************** -->

{% if mensaje != "" %}
  <div class="empty_query_result">{{ mensaje }}</div>
{% endif %}

  <div class="table-responsive grid-table">  
    <table class="table tbl_main">
      <thead>
        <tr>
          <th scope="col">Proveedor</th>
          <th scope="col">Motivo</th>
          <th scope="col">Fecha</th>
          <th scope="col">Informacion</th>
          <th scope="col">Edicion</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      {% for gasto in gastos %}
      <tbody>
        <tr>
          <td scope="row">{{ gasto.proveedor }}</td>
          <td>{{ gasto.motivo }}</td>
          <td>{{ gasto.fecha_gasto | date:"l d F P" }}</td>
          <td>
            <a type="button" data-toggle="modal" data-target="#modal-ver" 
            onclick="open_modal('{{ gasto.proveedor }}','{{ gasto.motivo }}','{{ gasto.empleado }}',
             '{{ gasto.precio }}','{{gasto.dolares }}','{{ gasto.tipo_pago }}',
             '{{ gasto.fecha_gasto }}','{{ gasto.pk }}')"> 
             <label class="glyphicon glyphicon-search"></label>  Ver
            </a>
          </td>
          <td>
            <a href="{{ gasto.url_editar_gasto }}"><label class="glyphicon glyphicon-pencil"></label> Editar</a>
          </td>
          <td>
            <a data-toggle="modal" data-target="#modal-borrar"
             onclick="open_modal_borrar('{{ gasto.proveedor }}')">
             <label class="glyphicon glyphicon-trash"></label> Borrar</a>
          </td>
        </tr>
      </tbody>
      {% endfor %}
    </table>
  </div>
</section>

<!-- *********************************** modal ver *********************************** -->  

<div class="modal fade" id="modal-ver" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <form class="modal-content" method=post>
      <div class="modal-header" style="background-color: #dbdbdb; border-bottom: 1px solid rgb(151, 151, 151);" >
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
          <img src="{% static 'img/iconos/gastos40.png' %}" alt="x">
          <label id="textoProveedor" style="text-align: center;"></label> 
        </h4>
      </div>
      <div class="modal-body" style="height:250px;">
        <div class="col-md-12">
          <label class="col-md-4">Motivo</label>
          <label class="col-md-8" id="textoMotivo"></label>
        </div>
        <div class="col-md-12">
          <label class="col-md-4">Empleado</label>
          <label class="col-md-8" id="textoEmpleado"></label>
        </div>
        <div class="col-md-12">
          <label class="col-md-4">Costo</label>
          <label class="col-md-8" id="textoPrecio"></label>
        </div>
        <div class="col-md-12">
            <label class="col-md-4">Tipo de pago</label>
            <label class="col-md-8" id="textoTipoPago"></label>
        </div>
        <div class="col-md-12">
            <label class="col-md-4">Fecha</label>
            <label class="col-md-8" id="textoFechaGasto"></label>
        </div>
      </div>
  </div>
</div>

<!-- *********************************** modal borrar *********************************** -->

<div class="modal fade" id="modal-borrar" tabindex="1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <form class="modal-content" method=post>
        <div class="modal-header" style="background-color: #dbdbdb; border-bottom: 1px solid rgb(151, 151, 151);" >
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">
            <img src="{% static 'img/iconos/gastos40.png' %}" alt="x">
            <label style="text-align: center;">Confirmación</label> 
          </h4>
        </div>
        <div class="modal-body" style="height:150px; background-color: white;">
          <h3 style="text-align: center;">¿Estas seguro de eliminar este proveedor<br>
            <b id="textoBorrar"></b>?
          </h3>
        </div>
        <div class="modal-footer" style="background-color: white;">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-danger">Eliminar</button>
        </div>
    </div>
  </div>

  <!-- *********************************** script modal *********************************** -->
<script>
  var modal = document.getElementById('myModal');
  var content_proveedor = document.getElementById('textoProveedor');
  var content_motivo = document.getElementById('textoMotivo');
  var content_empleado = document.getElementById('textoEmpleado');
  var content_precio = document.getElementById('textoPrecio');
  var content_tipo = document.getElementById('textoTipoPago');
  var content_fecha = document.getElementById('textoFechaGasto');
  var content_editar = document.getElementById('id_editar');
  var content_borrar = document.getElementById('textoBorrar');

  var close = document.getElementsByClassName("btn-modal-close")[0];

  function open_modal(proveedor, motivo, empleado, precio, dolares, tipo_pago,fecha,pk) { 
    content_proveedor.innerHTML = "Gasto de "+proveedor;
    content_motivo.innerHTML = motivo;
    content_empleado.innerHTML = empleado;
    content_precio.innerHTML = "$ " + precio + " " + dolares;
    content_tipo.innerHTML = tipo_pago;
    content_fecha.innerHTML = fecha;
    content_editar.href = "/gastos/editar/"+ pk;
  }

  function open_modal_borrar(paciente) {
    content_borrar.innerHTML = paciente;
  }

</script>

{% endblock %}



