{% extends "base.html" %}
{% block title %}ADEL | gastos {% endblock %}
{% load staticfiles %}

{% block body %}
<div class = "header">
        <p class="header_text">Gasto de {{ object.proveedor }}</p>
</div>
<section class="empleado_detalles">
	<section class="empleado_detalles_informacion">
	<br><br>
			<table class="tbl_empleado_detalle">
				<thead>
					<th></th>
					<th></th>
				</thead>
				<tbody>
					<tr>	
						<td><b>Proveedor</b></td>
						<td>{{ object.proveedor }}</td>
					</tr>
					<tr>
						<td><b>Motivo</b></td>						
						<td>{{ object.motivo }}</td>
					</tr>
					<tr>
						<td><b>Personal que pago</b></td>
						<td>{{ object.empleado }}</td>
					</tr>
					<tr>	
						<td><b>Precio</b></td>
						<td>{{ object.precio }} {{ object.dolares }} </td>
					</tr>
					<tr>
						<td><b>Tipo de pago</b></td>
						<td>{{ object.tipo_pago }}</td>
					</tr>
					<tr>
						<td><b>Fecha de gasto</b></td>
						<td>{{ object.fecha_gasto }}</td>
					</tr>
				</tbody>
			</table>
	</section>
	<a href="/lista.gastos">
		<input type="button" value="volver a lista de gastos" class="btn_volver btn_volver_detalle">
	</a>
</section>	
{% endblock %}