{% extends "base.html" %}
{% block title %}ADEL | Gastos {% endblock %}
{% load staticfiles %}

{% block body %}
 
 <div class = "header">
        <p class="header_text">Mis movimientos</p>
    </div>
<section class="seccion_fondo">
	<section class="seccion_fondo_fechas">
		<form action="" method="post">
		{% csrf_token %}
		<div>
			<label for="Fecha de inicio">Fecha de inicio</label>
			<input type="text" value="{{ fechai }}" placeholder="{{ fechai }}"
			id="datepicker" class="fecha_inicio" name="fecha1">	
		</div>
		<div>
			<label for="Fecha de final">Fecha final</label>
			<input type="text" value="{{ fechaf }}" placeholder="{{ fechaf }}" 
			id="datepickerf" class="fecha_final" name="fecha2">
		</div>
		<div>
			<input type="submit" value="Enviar" class="btn_naranja">
		</div>
		</form>
	</section>
	<section class="seccion_movimientos_general">
		<section class="seccion_ingresos">
			<table class="tbl_ingresos">
				<thead>
					<th class="th_ingresos">Fecha de visita</th>
					<th class="th_ingresos">Paciente</th>
					<th class="th_ingresos">Concepto</th>
					<th class="th_ingresos">Total</th>
				</thead>
				{% for ingreso in ingresos %}
				<tbody>
					<td class="th_ingresos">{{ ingreso.fecha_visita }}</td>
					<td class="th_ingresos">{{ ingreso.paciente}}</td>
					<td class="th_ingresos">{{ ingreso.motivo }}</td>
					<td class="th_ingresos">{{ ingreso.precio }} {{ ingreso.dolares }}</td>
				</tbody>
				{% endfor %}
				<span class="span_ingresos"> Total ingresos Pesos ${{ total_ingresos_pesos}} 
				/ Dolares ${{ total_ingresos_dolares }}</span>
			</table>
		</section>
		<hr>
		<section class="seccion_egresos">
			<table class="tbl_egresos" valign="top" >
				<thead>
					<th class="th_egresos">Fecha</th>
					<th class="th_egresos">Proveedor</th>
					<th class="th_egresos">Concepto</th>
					<th class="th_egresos">Total</th>
				</thead>
				{% for egreso in egresos %}
				<tbody>
					<td>{{ egreso.fecha_gasto }}</td>
					<td>{{ egreso.proveedor }}</td>
					<td>{{ egreso.motivo }}</td>
					<td>{{ egreso.precio }} {{ egreso.dolares }}</td>
				</tbody>
				{% endfor %}
				<span class="span_egresos"> Total gastos pesos ${{ total_egresos_pesos }}
				 / Dolares ${{ total_egresos_dolares}}</span>
			</table>
		</section>
	</section>
<section class="footer total_movimientos">
	<span class="span_diferencia">Diferencia Pesos ${{ total_diferencia_pesos }} 
	/ Dolares ${{ total_diferencia_dolares }} </span>
</section>
</section>

<script>
$(function () {
$.datepicker.setDefaults($.datepicker.regional["es"]);
$("#datepicker").datepicker({
firstDay: 1,
monthNames: ['Enero', 'Febrero', 'Marzo','Abril', 'Mayo','Junio',
'Julio','Agosto','Septiempbre','Octubre','Noviembre','Diciembre'],
dayNamesMin: ['Dom','Lun','Mar','Mier','Jue','Vier','Sab'],
dateFormat: 'yy-mm-dd',
timeFormat:  "hh:mm:ss"
});
});

$(function () {
$.datepicker.setDefaults($.datepicker.regional["es"]);
$("#datepickerf").datepicker({
firstDay: 1,
monthNames: ['Enero', 'Febrero', 'Marzo','Abril', 'Mayo','Junio',
'Julio','Agosto','Septiempbre','Octubre','Noviembre','Diciembre'],
dayNamesMin: ['Dom','Lun','Mar','Mier','Jue','Vier','Sab'],
dateFormat: 'yy-mm-dd',
timeFormat:  "hh:mm:ss"
});
});
</script>

{% endblock %}