{% extends "base.html" %}
{% block title %}ADEL | Movimientos {% endblock %}

{% block body %}
{% load staticfiles %}
<meta charset="utf-8">
<script src="{% static '/static/js/generic/calendarios.js'%}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/gastos/movimientos.css' %}" />

<!-- ************************************  HELPER ************************************ -->
<div class="container thumbnail helper">
	<div class="col-md-2 volver">
	<a href="../"><label class="glyphicon glyphicon-chevron-left"></label>&nbsp;Volver</a>
	</div>
	<div class="col-md-9 bs-header-text helper-text">
		<label>Movimientos actuales <label class="total">{{ total }}</label>
	</div>
	<div class="helper-img col-md-1">
		<img src="{% static 'img/iconos/gastos40.png' %}"  class="helper-img" alt="ups">
	</div>
</div>

<section class="container thumbnail grid">
  <!-- ************************************  FORM ************************************ -->
    <section>
      <form method=post class="container-fluid grid-elements">
        {% csrf_token %} 
  
        <div class="col-md-2">
			<input type="text" value="{{ fechai }}" placeholder="{{ fechai }}" id="datepicker" class="input-personalized" name="fecha1">	
        </div>
        <div class="col-md-2">
			<input type="text" value="{{ fechaf }}" placeholder="{{ fechaf }}" id="datepickerf" class="input-personalized" name="fecha2">
        </div>
        <div class="col-md-1">
          <a>
            <input type="submit" name="link_add_gasto" class="btn btn-info" value="Buscar"/>
          </a>
        </div>
      </form> 
    </section>
<hr>
  <!-- *********************************** grid *********************************** -->

	{% if mensaje != "" %}
		<div class="empty_query_result">{{ mensaje }}</div>
	{% endif %}

	<div class="col-md-6">
	<h3 style="text-align: center;">Mis ingresos <label class="total">{{ total_ingresos }}</label> </h3>
	<div class="table-responsive grid-table">  
		<table class="table tbl_main" style="width:1000px;">
		  <thead style="width:1000px;">
			<tr style="width:1000px;">
				<th>Fecha de visita</th>
				<th>Paciente</th>
				<th>Concepto</th>
				<th>Total</th>
			</tr>
		  </thead>
		  {% for ingreso in ingresos %}
		  <tbody>
			<tr>
				<td>{{ ingreso.fecha_visita }}</td>
				<td>{{ ingreso.paciente}}</td>
				<td>{{ ingreso.motivo }}</td>
				<td>{{ ingreso.precio }} {{ ingreso.dolares }}</td>
			</tr>
		  </tbody>
		  {% endfor %}
		</table>
	  </div>
	</div>
	<div class="col-md-6">

	<h3 style="text-align: center;">Mis gastos <label class="total">{{ total_egresos }}</label> </h3>
	<div class="table-responsive grid-table">  
		<table class="table tbl_main" style="width:1000px;">
		  <thead style="width:1000px;">
			<tr style="width:1000px;">
				<th>&nbsp; &nbsp;Fecha de gasto</th>
				<th>Proveedor</th>
				<th>Concepto</th>
				<th>Total</th>
			</tr>
		  </thead>
		  {% for egreso in egresos %}
		  <tbody>
			<tr>
				<td>{{ egreso.fecha_gasto }}</td>
				<td>{{ egreso.proveedor }}</td>
				<td>{{ egreso.motivo }}</td>
				<td>{{ egreso.precio }} {{ egreso.dolares }}</td>
			</tr>
		  </tbody>
		  {% endfor %}
		</table>
	  </div>
	</div>
</section>
	<!-- ============================================================================================================================ -->

	<section class="container thumbnail  movimientos-card">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title resumen-header">Mi resumen del <b>{{ fechai }}</b> a <b>{{ fechaf }}</h4>
			</div>
			<div class="card-block">
				<div class="col-md-6 movimientos-div">
					<div class="col-md-12 resumen-p">Pesos</div>
					<br> 
					<div class="col-md-6 ingresos-div">Ingresos: ${{ total_ingresos_pesos}}</div>
					<div class="col-md-6 egresos-div">Gastos: ${{ total_egresos_pesos}}</div>
					<div class="col-md-12 diferencia-div">Total: ${{ total_diferencia_pesos }} </div>
				</div>
				<div class="col-md-6 movimientos-div">
					<div class="col-md-12 resumen-p">Dolares</div> 
					<br>
					<div class="col-md-6 ingresos-div">Ingresos: ${{ total_ingresos_dolares}}</div>
					<div class="col-md-6 egresos-div">Gastos: ${{ total_egresos_dolares}}</div>
					<div class="col-md-12 diferencia-div">Total: ${{ total_diferencia_dolares }} </div>
				</div>
			</div>
			<br><br>
		</div>
	</section>


<script>
function hide_show_section() { 
    var x = document.getElementById('seccion_movimientos_resumen');
    var y = document.getElementById('seccion_movimientos_general');
    var ingresos_pesos = document.getElementById('span_ingresos_pesos').innerHTML;
    var egresos_pesos = document.getElementById('span_egresos_pesos').innerHTML; 
    var ingresos_dolares = document.getElementById('span_ingresos_dolares').innerHTML; 
    var egresos_dolares = document.getElementById('span_egresos_dolares').innerHTML;  

    if (ingresos_pesos == "0" && ingresos_dolares == "0" && egresos_pesos == "0" && egresos_dolares == "0") { 
        x.style.display = 'none';
        y.style.display = 'none';
    } else {
        x.style.display = 'block';
        y.style.display = 'block';
    }
}

</script>

{% endblock %}