{% extends 'base.html' %}
{% block title %}ADEL | agregar paciente {% endblock %}

{% block body %}
<body onload="set_values()">
</body>
{% load staticfiles %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/pacientes/creacion.pacientes.css' %}"/>

<div class = "header">
  <span class="header_text">Agregar pacientes</span>
  <img src="{% static 'img/iconos/pacientes40.png' %}" alt="ups">
</div>

    <form method=post>
        {% csrf_token %}
        <section class="seccion_formulario">
            <div class="seccion_1">
                <div>
                    <label class="label-formularios">{{ form.nombre.label}}</label>
                    {{ form.nombre }}
                </div>
                <div class="select_tipo_paciente select" onchange="reassign_values()"><br>
                    <label class="label-formularios">{{ form.tipo_paciente.label }}</label>
                    {{ form.tipo_paciente }}
                    <label class="label-formularios label-sexo">Sexo</label> {{ form.sexo }}
                </div><br>
                <div>
                    <label class="label-formularios">{{ form.edad.label}}</label>
                    {{ form.edad }}
                </div><br>
                <div class="div_aseguranza">
                    <label class="label-formularios">{{ form.aseguranza.label}}</label>
                    {{ form.aseguranza }}
                </div>
            </div>
            <div class="seccion_2">
                <div>
                    <label class="label-formularios">{{ form.telefono.label}}</label>
                    {{ form.telefono }}
                </div>
                <div>
                    <label class="label-formularios">{{ form.correo.label}}</label>
                    {{ form.correo }}
                </div>
                <div>
                    <label class="label-formularios">{{ form.direccion.label}}</label>
                    {{ form.direccion }}
                </div>
                <div class="pacientes_comentarios">
                    <label class="label-formularios">{{ form.comentarios.label}}</label>
                    {{ form.comentarios }}
                </div>
            </div>
        <div class="seccion_botones">          
        <input class="btn btn-success boton_1" id="save_contact" type="submit" value="Registrar"/>
        <a href="/lista.pacientes" class="btn btn-default boton_2">Volver</a>
    </div>
    </form>
    </section>
</div>
<!-- <section class="seccion_errores">   
    <p class="errores_p">Corrige los siguientes errores</p> 
    <p>nombre - {{ form.nombre.errors }}</p>
    <p>tipo_paciente - {{ form.tipo_paciente.errors }}</p>
    <p>Edad - {{ form.edad.errors }}</p>
    <p>Aseguranza - {{ form.aseguranza.errors }}</p>
    <p>Telefono - {{ form.telefono.errors }}</p>
    <p>Correo - {{ form.correo.errors }}</p>
    <p>tipo de pago - {{ form.tipo_pago.errors }}</p>
    <p>dentista - {{ form.dentista.errors }}</p>
    <p>precio - {{ form.precio.errors }}</p>
    <p>direccion - {{ form.direccion.errors }}</p>                
    <p>Comentarios - {{ form.comentarios.errors }}</p>
</section> -->




<script>
function set_values(){
    var textbox_aseguranza = document.getElementById('id_aseguranza');
    textbox_aseguranza.value = "No aplica";
    textbox_aseguranza.readOnly = true;
}
function reassign_values(){
    var textbox_aseguranza = document.getElementById('id_aseguranza');
    var tipo_paciente = document.getElementById('id_tipo_paciente');
    if (tipo_paciente.value == "Aseguranza") {   
    textbox_aseguranza.readOnly = false;
    textbox_aseguranza.value = "";
    textbox_aseguranza.placeholder = "Introduce la aseguranza";
    }else{
        textbox_aseguranza.readOnly = true;
        textbox_aseguranza.value = "No aplica";
        textbox_aseguranza.placeholder = "";
    }
}
</script>

{% endblock %}