{% extends 'base.html' %}
{% block title %}ADEL | agregar paciente {% endblock %}
{% block albums_active %} active {% endblock %}

{% block body %}
<div class = "header">
        <p class="header_text">Agregar paciente</p>
</div>

    <form method=post>
        {% csrf_token %}
        <section class="seccion_formulario">
            <div class="seccion_1">
                <div>
                    <label>{{ form.nombres.label}}</label>
                    {{ form.nombres }}
                    <span>{{ form.nombres.errors }}</span>
                </div>
                <div>
                    <label>{{ form.apellidos.label}}</label>
                    {{ form.apellidos }}
                    <span>{{ form.apellidos.errors }}</span>
                </div>
                <div class="select_tipo_paciente">
                    <p><label>{{ form.tipo_paciente.label}}</label></p>
                    {{ form.tipo_paciente }}
                    <span>{{ form.tipo_paciente.errors }}</span>
                </div>
                <div>
                    <p><label>{{ form.edad.label}}</label></p>
                    {{ form.edad }}
                    <span>{{ form.edad.errors }}</span>
                </div>
                <div class="">
                    <label>{{ form.aseguranza.label}}</label>
                    {{ form.aseguranza }}
                    <span>{{ form.aseguranza.errors }}</span>
                </div>
            </div>
            <div class="seccion_2">
            <p></p>
                <div class="">
                    <label>{{ form.telefono.label}}</label>
                    {{ form.telefono }}
                    <span>{{ form.telefono.errors }}</span>
                </div>
                <div class="">
                    <label>{{ form.correo.label}}</label>
                    {{ form.correo }}
                    <span>{{ form.correo.errors }}</span>
                </div>
                <div class="">
                    <label>{{ form.direccion.label}}</label>
                    {{ form.direccion }}
                    <span>{{ form.direccion.errors }}</span>
                </div>
                <div class="pacientes_comentarios">
                    <label>{{ form.comentarios.label}}</label>
                    {{ form.comentarios }}
                    <span>{{ form.comentarios.errors }}</span>
                </div>
        </div>
        <div class="seccion_botones">           
            <input class="btn_naranja btn_formulario" id="save_contact" 
            type="submit" value="Registrar"/>
            <a href="/lista.pacientes" class="btn_volver btn_volver_formulario">
                Volver a lista de pacientes
            </a>
        </div>
        </section>
    </form>
</div>

{% endblock %}