{% extends 'base.html' %}
    {% block title %}ADEL | editar paciente {% endblock %}
{% block body %}


{% load staticfiles %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="{% static 'css/gastos/creacion.gastos.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/generic/table.css' %}"/>
<div class = "header">
  <span class="header_text">Edicion de {{ paciente.nombre }}</span>
  <img src="{% static 'img/iconos/pacientes40.png' %}" alt="ups">
</div>

<section class="seccion_formulario">
    <form method="post">
    {% csrf_token %}
    <div class="seccion_1">
        <div style="width: 99%;">
            <label class="label-formularios">Nombre*</label>
            <input type="text" name="nombre" value="{{ paciente.nombre }}"><br>
        </div><br>
        <table style="width: 99%;">
            <tbody>      
            <tr class="generic-tr">
                <td class="td-left">
                    <label class="label-formularios">Edad</label></td>
                <td class="td-right">
                    <input type="text" name="edad" id="edad" value="{{ paciente.edad }}"> <br><br>
                </td>
            </tr>
            <tr class="generic-tr">
                <td class="td-left">
                    <label class="label-formularios">Sexo</label>
                </td>
                <td class="td-right">
                    <select id="sexo" name="sexo">
                        <option id="sexo" name="sexo" value="{{ paciente.sexo }}" >{{ paciente.sexo}}</option>
                        {% for choice in form.sexo.field.choices %}
                            <option id="sexo" name="sexo"  value={{choice.1}} >{{ choice.1 }}</option>
                        {% endfor %}
                    </select><br><br>
                </td>
            </tr>
            <tr class="generic-tr">
                <td class="td-left">
                    <label class="label-formularios">Tipo de paciente</label>
                </td>
                <td class="td-right">
                    <select id="tipo_paciente" name="tipo_paciente"  onchange="reassign_values()">
                        <option id="sexo" name="sexo" value="{{ paciente.tipo_paciente }}" >{{ paciente.tipo_paciente }}</option>
                        {% for choice in form.tipo_paciente.field.choices %}
                            <option id="tipo_paciente" name="tipo_paciente" value={{choice.1}} >
                            {{ choice.1 }}</option>
                        {% endfor %}
                    </select><br><br>
                </td>
            </tr>
            <tr class="generic-tr">
                <td class="td-left">
                    <label class="label-formularios">Aseguranza</label></td>
                <td class="td-right">
                    <input type="text" name="aseguranza" id="aseguranza" value="{{ paciente.aseguranza }}">
                    <br><br>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="seccion_2">
         <table style="width: 99%;">
            <tbody>      
            <tr class="generic-tr">
                <td class="td-left">
                    <label class="label-formularios">Telefono</label></td>
                <td class="td-right">
                    <input type="text" name="telefono" id="telefono" value="{{ paciente.telefono }}">
                    <br><br>
                </td>
            </tr>
            <tr class="generic-tr">
                <td class="td-left">
                    <label class="label-formularios">Correo</label></td>
                <td class="td-right">
                    <input type="text" name="correo" id="correo" value="{{ paciente.correo }}">
                    <br><br>
                </td>
            </tr>
            <tr class="generic-tr">
                <td class="td-left">
                    <label class="label-formularios">Direccion</label></td>
                <td class="td-right">
                    <input type="text" name="direccion" id="direccion" value="{{ paciente.direccion }}">
                    <br><br>
                </td>
            </tr>
            <tr class="generic-tr">
                <td class="td-left">
                    <label class="label-formularios">Comentarios</label></td>
                <td class="td-right">
                    <input type="text" name="comentarios" id="comentarios" class="motivo" 
                    value="{{ paciente.comentarios }}"><br><br>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="seccion_botones">           
        <input class="btn btn-success boton_1" id="save_contact" onclick="set_empty_values()" 
        type="submit" value="Registrar"/>
        <a href="/lista.pacientes" class="btn btn-default boton_2">Volver</a>
    </div>
    </form>
</section>
</div>
<script>
    function set_empty_values(){
        console.log("entre al metodo");
        edad = document.getElementById('edad');
        telefono = document.getElementById('telefono');
        correo = document.getElementById('correo');
        sexo = document.getElementById('sexo');
        tipo_paciente = document.getElementById('tipo_paciente');
        aseguranza = document.getElementById('aseguranza');

        direccion = document.getElementById('direccion');
        comentarios = document.getElementById('comentarios');

        if (edad.value == ""){
            edad.value = "--";
        }
        if (telefono.value == ""){
            telefono.value = "No registrado";
        }
        if (correo.value == ""){
            correo.value = "na@adel.com";
        }
        if (direccion.value == ""){
            direccion.value = "--";
        }
        if (comentarios.value == ""){
            comentarios.value = "--";
        }
    }
    function reassign_values(){
        var textbox_aseguranza = document.getElementById('aseguranza');
        var tipo_paciente = document.getElementById('tipo_paciente');
        if (tipo_paciente.value == "Aseguranza") {
        textbox_aseguranza.readOnly = false;
        textbox_aseguranza.value = "";
        textbox_aseguranza.placeholder = "Introduce la aseguranza";
        }else{
            textbox_aseguranza.readOnly = true;
            textbox_aseguranza.value = "No aplica";
            textbox_aseguranza.placeholder = "";
        }
}
</script>
</body>
{% endblock %}
