{% extends "base.html" %}
{% block title %}ADEL | eliminar paciente {% endblock %}
{% load staticfiles %}

{% block body %}

<section class="seccion_eliminar">
	<form method=post>
		{% csrf_token %}
		{% for paciente in paciente %}
		<span class="p_confirmacion" style="margin-left: 18%;">¿Estás seguro de eliminar a {{ paciente.nombre }} ?</span><br><br>
		{% endfor %}
		<input type="submit" value="confirmar" class="btn btn-danger btn_confirmar">
		<a href="/lista.pacientes">
		<input type="button" value="volver" class="btn_volver btn_volver_eliminar"><br><br>
		</a>
	</form>
</section>	
{% endblock %}