{% extends "base.html" %}
{% block title %}ADEL | Pacientes {% endblock %}
{% load staticfiles %}

{% block body %}

 <div class = "header">
        <p class="header_text">Pacientes actuales</p>
    </div>
<table>

     <thead class="columna">
          <th>Nombre</th>
          <th>tipo de paciente</th>
          <th>Aseguranza</th>
          <th>telefono</th>
          <th>Informacion</th>
          <th>Edicion</th>
     </thead>
     {% for paciente in object_list %}
     <tbody class="contenido">
          <td>{{ paciente.nombres }} {{ paciente.apellidos }}</td>
          <td>{{ paciente.tipo_paciente }}</td>
          <td>{{ paciente.aseguranza }}</td>
          <td>{{ paciente.telefono }}</td>
          <td>
              <a href="{{ paciente.url_ver }}">Ver</a>
          </td>
          <td>
               <a href="{{ paciente.url_editar }}">Editar</a>
          </td>
     </tbody>
     {% endfor %}
     </table>

{% endblock %}
