{% extends "base.html" %}
{% block title %}ADEL | pacientes {% endblock %}
{% load staticfiles %}

{% block body %}
<div class = "header">
{% for paciente in paciente %}
        <p class="header_text">Informacion de {{ paciente.nombres }}</p>
</div>
<section class="paciente_detalles">
	<section class="paciente_detalles_informacion">
		<p class="paciente_detalles_header">Datos generales</p>
		<table>
			<tr>
				<td><b>Nombre</b></td>	
				<td>{{ paciente.nombres }} {{ paciente.apellidos }}</td>
			</tr>
			<tr>
				<td><b>Tipo de paciente</b></td>
				<td>{{ paciente.tipo_paciente }}</td>
			</tr>
			<tr>
				<td><b>Edad</b></td>
				<td>{{ paciente.edad }} años</td>
			</tr>
			<tr>
				<td><b>Correo</b></td>
				<td>{{ paciente.correo }}</td>
			</tr>
			<tr>
				<td><b>Direccion</b></td>
				<td>{{ paciente.direccion }}</td>
			</tr>
			<tr>
				<td><b>Observaciones</b></td>
				<td>{{ paciente.comentarios }}</td>
			</tr>
			<tr>
				<td><b>Fecha de inicio</b></td>
				<td>{{ paciente.fecha_inicio }}</td>
			</tr>
		</table>
		<br>
	</section>
	{% endfor %}
	<section class="paciente_detalles_visitas">
		<p class="paciente_detalles_header">Visitas registradas</p>
		{% for visita in visitas %}
		<hr>
		<h5>Dia: {{ visita.fecha_visita }}</h1>
		<table>
			<tr>
				<td><b>Atendido por</b></td>
				<td>{{ visita.dentista }}</td>
			</tr>
			<tr>
				<td><b>Motivo</b></td>
				<td>{{ visita.motivo }}</td>
			</tr>
			<tr>
				<td><b>Precio</b></td>
				<td>{{ visita.precio }} {{ visita.dolares }}</td>
			</tr>
			<tr>
				<td><b>Tipo de pago</b></td>
				<td>{{ visita.tipo_pago }}</td>
			</tr>
		</table>
		
		{% endfor %}
		<br>
	</section>
	<a href="/lista.pacientes" class="btn_volver_paciente_detalle">
	<input type="button" value="volver a lista de pacientes" class="btn_volver btn_volver_paciente_detalle">
	</a>
</section>	
{% endblock %}