{% extends "base.html" %}
{% block title %}ADEL | pacientes {% endblock %}
{% load staticfiles %}

{% block body %}

 <div class = "header">
        <p class="header_text">Pacientes registrados</p>
    </div>
<table>
     <thead class="columna">
          <th>Nombre</th>
          <th>apellido</th>
          <th>tipo paciente</th>
          <th>telefono</th>
          <th>correo</th>
          <th>Informacion</th>
     </thead>
     {% for paciente in pacientes %}
     <tbody class="contenido">
          <td>{{ paciente.nombres }}</td>
          <td>{{ paciente.apellidos }}</td>
          <td>{{ paciente.tipo_paciente }}</td>
          <td>{{ paciente.telefono }}</td>
          <td>{{ paciente.correo }}</td>
          <td><a href="http://127.0.0.1:8000/paciente.detalle/{{paciente.id_paciente}}/">
               Ver detalles</a>
          </td>

     </tbody>
     {% endfor %}
     </table>

{% endblock %}
