{% extends "base.html" %}
{% block title %}ADEL | Agenda {% endblock %}
{% load staticfiles %}

{% block body %}
 
<div class = "header">
        <p class="header_text">Pacientes registrados  ({{ total }})</p>
</div>

<!-- herramientas de menu -->
<section class="seccion_fondo">
  <section class="herramientas_menu">      
    <form method=post>
    {% csrf_token %}
      <!-- barra de busqueda -->
      <div class="seccion_busqueda">   
        <span><b>Buscar algun registro</b> </span>
        <input type="text" id="myInput" onkeyup="myFunction()" name="paciente" 
        placeholder="buscar" class="search_busqueda">
      </div>
      
      <!-- Seccion botones -->
      <div class="seccion_agregar_nuevo">
        <a class="btn_busqueda">
          <input type="submit" name="link_add_gasto" 
          class="btn_agregar_elemento_agenda btn_busqueda" value="Buscar"/>
        </a>
        <a href="/registro.paciente" class="btn_naranja_main">
          <input type="button" name="link_add_gasto" 
          class="btn_naranja" value="Agregar un paciente"/>
        </a>
      </div>
    </form>
  </section>
<hr>
<!-- tabla de datos -->
  <section>
  <table>

     <thead class="columna">
          <th>Nombre</th>
          <th>tipo de paciente</th>
          <th>Aseguranza</th>
          <th>telefono</th>
          <th>Informacion</th>
          <th>Edicion</th>
     </thead>
     {% for paciente in Paciente %}
     <tbody class="contenido">
          <td>{{ paciente.nombres }} {{ paciente.apellidos }}</td>
          <td>{{ paciente.tipo_paciente }}</td>
          <td>{{ paciente.aseguranza }}</td>
          <td>{{ paciente.telefono }}</td>
          <td>
              <a href="{{ paciente.url_ver_paciente }}">Ver</a>
          </td>
          <td>
               <a href="{{ paciente.url_editar_paciente }}">Editar</a>
          </td>
     </tbody>
     {% endfor %}
 </table>
     <br><br>
  </section>
</section>

{% endblock %}
