
.seccion_formulario{
	width:95%;
	border: 0.5px solid #999999;
	background-color: white;
	border-radius: 5px;
	margin-left: 2%;
}
.seccion_1{
	width:46%;
	border: 0.5px solid #CCCCCC;
	border-radius: 5px;
	margin-top:2em;
	margin-bottom: 2em;	
	margin-left: 2em;	
	float: left;
	padding: 2em;
	height: 15em;
}

.seccion_2{
	width:46%;
	border: 0.2px solid #CCCCCC;
	border-radius: 5px;
	margin-top:2em;
	margin-bottom: 2em;	
	margin-right: 3em;
	float: right;
	padding: 2em;
	height: 15em;
}
.select>label{
	text-align: center;
}

.select>select{
	-webkit-appearance: none;
	font-size: 16px;
	height: 10%;
	border: 1px solid #777;
}
.select>select>option{
	text-align: center;
	margin-left: 100px;
}
.seccion_botones>a{
	margin-left: 32%;
	text-align: center;
}
.motivo>input{
	height: 160px;
}

.motivo_agenda>input{
	height: 90px;
}
.seccion_1_agenda>div>select{
	-webkit-appearance: none;
	-moz-appearance: none;
	border: 1px solid #BBBBBB;
}


