.seccion_formulario{
    width:95%;
    border: 0.5px solid #999999;
    background-color: white;
    border-radius: 5px;
    margin-left: 2%;
    height: 38em;
}
.seccion_1{
    width:46%;
    border: 0.5px solid #CCCCCC;
    border-radius: 5px;
    margin-bottom: 2em; 
    margin-left: 2em;   
    float: left;
    padding: 2em;
    height: 30em;
}

.seccion_2{
    width:46%;
    border: 0.2px solid #CCCCCC;
    border-radius: 5px;
    margin-bottom: 2em; 
    margin-right: 3em;
    float: right;
    padding: 2em;
    height: 30em;
}

.span_historial{
	font-size: 14px;
	font-weight: 700;
	margin-left: -1%;
	margin-right: 1%;
    width: 88%;
    display: inline-block; 
}

.input_historial{
    width: 8%;
    display: inline-block;   
}
.text_comentarios{
    display:block;
}
.material-switch > input[type="checkbox"] {
	margin-top: 5%;
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    margin-right: 10%;
}
.div_detalles{
    height: 2.25em;
}
.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}
#alergias_comentarios{
    visibility:hidden;
}
#medicamentos_comentarios{
    visibility:hidden;
}
.boton_1{
    float: left;
    width: 25%;
    font-size: 18px;
    font-family: roboto;
}
.boton_2{
    margin-right: 15%;
    float: right;
    width: 25%;
    font-size: 18px;
    font-family: roboto;
    background-color: rgba(13, 5, 9, 0.14);
}

.editar-historial {
    float: right;
}
