
.seccion_formulario{
	width:95%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	border: 1px solid #999999;
	margin-bottom: 2%;
	background-color: white;
	margin-left: 2%;
}
.seccion_1{
	width:46%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	margin-left: 2em;
	display: inline-block;
	padding: 2em;
	margin-top:2em;
	background-color: white;
}

.seccion_2{
	width:46%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	margin-bottom: 2em;	
	margin-left: 2em;	
	display: inline-block;
	padding: 2em;
	background-color: white;
}
.select_tipo_paciente{
}

.pacientes_comentarios>input{
	height: 105px;
}
.seccion_botones>a{
	margin-left: 32%;
	text-align: center;
}
.formulario_proveedores_producto>input{
	height: 175px;
}
