
.seccion_formulario{
	width:95%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	border: 1px solid #999999;
	margin-bottom: 2%;
	background-color: white;
	margin-left: 2%;
	height: 30em;
}
.seccion_1{
	width:46%;
	border: 0.5px solid #CCCCCC;
	border-radius: 5px;
	margin-left: 2em;
	display: inline-block;
	padding: 2em;
	margin-top:2em;
	background-color: white;
}

.seccion_2{
	width:46%;
	border: 0.5px solid #CCCCCC;
	border-radius: 5px;
	margin-bottom: 2em;	
	margin-left: 2em;	
	display: inline-block;
	padding: 2em;
	background-color: white;
}
.boton_1{
	float: left;
	width: 25%;
	font-size: 18px;
	font-family: roboto;
}
.boton_2{
	margin-right: 20%;
	float: right;
	width: 25%;
	font-size: 18px;
	font-family: roboto;
	background-color: rgba(13, 5, 9, 0.14);
}

.pacientes_comentarios>input{
	height: 105px;
}
.formulario_proveedores_producto>input{
	height: 175px;
}
