{% extends "base.html" %}
{% block title %}ADEL | agenda {% endblock %}

{% block body %}

<body onload="checaCitasConfirmadas()">
{% load staticfiles %}
<meta charset="utf-8">
<script src="{% static '/static/js/generic/delete.js'%}"></script>
<script src="{% static '/static/js/generic/calendarios.js'%}"></script>

<!-- ************************************  HELPER ************************************ -->
<div class="container thumbnail helper">
  <div class="col-md-2 volver">
    <a href="../"><label class="glyphicon glyphicon-chevron-left"></label>&nbsp;Volver</a>
  </div>
  <div class="col-md-9 bs-header-text helper-text">
    <label>Proximas citas<label class="total">{{ total }}</label>
  </div>
  <div class="helper-img col-md-1">
    <img src="{% static 'img/iconos/agenda40.png' %}"  class="helper-img" alt="ups">
  </div>
</div>

<section class="container thumbnail grid">
  <!-- ************************************  FORM ************************************ -->
    <section>
      <form method=post class="container-fluid grid-elements">
        {% csrf_token %}
        <div class="col-md-5">
          <input type="text" id="myInput" name="busqueda" placeholder="paciente o tipo" class="input-personalized"/>
        </div>
        <div class="col-md-2">
          <input type="text" id="datepicker" name="fecha_inicial" onclick="clear_text()" class="input-personalized" placeholder="fecha inicial" />
        </div>
        <div class="col-md-2">
          <input type="text" id="datepickerf" name="fecha_final" onclick="clear_textf()" class="input-personalized" placeholder="fecha final" />
        </div>
        <div class="col-md-1">
          <a>
            <input type="submit" class="btn btn-default" value="Buscar"/>
          </a>
        </div>
        <div class="col-md-2">
          <a href="/registro.agenda">
            <input type="button"  class="btn btn-success" value="+ Agregar cita"/>
          </a>
        </div>
      </form> 
    </section>
  <hr>

  <!-- *********************************** grid *********************************** -->

{% if mensaje != "" %}
  <div class="empty_query_result">{{ mensaje }}</div>
{% endif %}

  <div class="table-responsive grid-table">  
    <table class="table tbl_main">
      <thead>
        <tr>
          <th scope="col">Paciente</th>
          <th scope="col">Empleado</th>
          <th scope="col">Motivo</th>
          <th scope="col">Fecha</th>
          <th scope="col">Status</th>
          <th scope="col">Edición</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      {% for cita in agenda %}
      <tbody>   
        <tr data-toggle="modal" data-target="#modal-ver" class="citaTR"
        onclick="open_modal('{{ cita.paciente }}','{{ cita.empleado }}',
        '{{ cita.motivo }}','{{ cita.fecha_agenda }}','{{ cita.confirmacion }}')">
          <td scope="row"><b>{{ cita.paciente }}</b></td>
          <td>{{ cita.empleado}}</td>
          <td>{{ cita.motivo }}</td>
          <td>{{ cita.fecha_agenda|date:"l d F P" }}</td>
          <td class="citaTD">{{ cita.confirmacion }}</td>
          <td>
            <a class="citaE" href="{{ cita.url_editar_agenda }}">
              <label class="glyphicon glyphicon-pencil"></label> Editar
            </a>
          </td>
          <td>
            <a class="glyphicon glyphicon-trash citaB" data-toggle="modal" data-target="#modal-borrar"
            onclick="open_modal_borrar('{{ cita.paciente }}','{{ cita.pk }}')"> Borrar</a>
          </td>
        </tr>
        
      </tbody>
      {% endfor %}
    </table>
  </div>
</section>

<div class="div-paginador">
    <label style="margin-top: 10px;margin-left:10px;font-size: 15px;">
        {% if agenda.has_previous %}
            <a class="a-paginador" href="?page={{ agenda.previous_page_number }}">
              <label class="glyphicon glyphicon-menu-left">Anterior</label>
            </a>
        {% endif %}
        <label style="margin-left:5px; margin-right:5px;">
             {{ agenda.number }} de {{ agenda.paginator.num_pages }}
        </label>

        {% if agenda.has_next %}
            <a class="a-paginador" href="?page={{ agenda.next_page_number }}">
                Siguiente<label class="glyphicon glyphicon-menu-right"></label>
            </a>
        {% endif %}
    </label>
  </div>

</section>

<!-- *********************************** modal ver *********************************** -->  

<div class="modal fade" id="modal-ver" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <form class="modal-content" method=post>
      <div class="modal-header" style="background-color: #dbdbdb; border-bottom: 1px solid rgb(151, 151, 151);" >
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
          <img src="{% static 'img/iconos/agenda40.png' %}" alt="x">
          <label id="textoPaciente" style="text-align: center;"></label> 
        </h4>
      </div>
      <div class="modal-body" style="height:150px;">
        <div class="col-md-12">
          <label class="col-md-4">Dentista</label>
          <label class="col-md-8" id="textoEmpleado"></label>
        </div>
        <div class="col-md-12">
          <label class="col-md-4">Motivo</label>
          <label class="col-md-8" id="textoMotivo"></label>
        </div>
        <div class="col-md-12">
            <label class="col-md-4">Fecha</label>
            <label class="col-md-8" id="textoFecha"></label>
        </div>
        <div class="col-md-12">
            <label class="col-md-4">Status</label>
            <label class="col-md-8" id="textoConfirmacion"></label>
        </div>
      </div>
  </div>
</div>

<!-- *********************************** modal borrar *********************************** -->

<div class="modal fade" id="modal-borrar" tabindex="1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-header" style="background-color: #dbdbdb; border-bottom: 1px solid rgb(151, 151, 151);" >
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">
            <img src="{% static 'img/iconos/gastos40.png' %}" alt="x">
            <label style="text-align: center;">Confirmación</label> 
          </h4>
        </div>
        <div class="modal-body" style="height:130px; background-color: white;">
          <h3 style="text-align: center;">¿Estas seguro de eliminar esta cita<br>
            <b id="textoBorrar"></b>? <span id="idBorrar" style="visibility:hidden;"></span>
          </h3>
        </div>
        <div class="modal-footer" style="background-color: white;">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-danger" onclick="deleteAgenda()">Eliminar</button>
        </div>
    </div>
  </div>

  <!-- *********************************** script modal *********************************** -->
<script>
  var modal = document.getElementById('myModal');
  var content_paciente = document.getElementById('textoPaciente');
  var content_empleado = document.getElementById('textoEmpleado');
  var content_motivo = document.getElementById('textoMotivo');
  var content_fecha = document.getElementById('textoFecha');
  var content_confirmacion = document.getElementById('textoConfirmacion');
  var content_borrar = document.getElementById('textoBorrar');
  var pk_borrar = document.getElementById('idBorrar');

  function open_modal(paciente, empleado, motivo, fecha,confirmacion) { 
    content_paciente.innerHTML = "Cita de " + paciente;
    content_empleado.innerHTML = empleado;
    content_motivo.innerHTML = motivo;
    content_fecha.innerHTML = fecha;
    content_confirmacion.innerHTML = confirmacion
  }

  function open_modal_borrar(item, id) {
    content_borrar.innerHTML = item;
    pk_borrar.innerHTML = id;
  }

  function checaCitasConfirmadas(){
    var citaTD = document.getElementsByClassName('citaTD');
    var citaTR = document.getElementsByClassName('citaTR');

   for (i = 0; i < citaTR.length; i++) { 
      if (citaTD[i].innerHTML == 'Confirmada'){
        citaTR[i].style.backgroundColor = 'rgba(65, 198, 92, 0.47)';
        citaTD[i].innerHTML = '<label class="glyphicon glyphicon-ok"></label>';
      } else if (citaTD[i].innerHTML == 'Pendiente') {
        citaTR[i].style.backgroundColor = 'rgba(255, 224, 5, 0.23)';
        citaTD[i].innerHTML = '<label class="glyphicon glyphicon-minus"></label>';
      } else if (citaTD[i].innerHTML == 'Cancelada') {
        citaTR[i].style.backgroundColor = 'rgba(255, 10, 7, 0.55)';
        citaTD[i].innerHTML = '<label class="glyphicon glyphicon-remove"></label>';
      }

    }
  }

</script>

{% endblock %}



