{% extends 'base.html' %}
{% block title %}ADEL | agenda {% endblock %}
{% block body %}

<body onload="set_initial_date(), confirmaCita()">
    {% load staticfiles %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script src="{% static '/static/js/generic/calendarios.js'%}"></script>

<!-- ************************************  HELPER ************************************ -->
 <div class="container col-md-8 thumbnail col-md-offset-2 bs-header">
    <div class="col-md-2 volver">
        <a href="/lista.agenda">
          <label class="glyphicon glyphicon-chevron-left"></label>&nbsp;Volver</a>
    </div>
    <div class="col-md-9 bs-header-text helper-text">
        {% if agenda.proveedor %}
            <label> Cita de {{ agenda.paciente }}</label>
        {% else %}
            <label>Agregar agenda</label>
        {% endif %}
    </div>
    <div class="helper-img col-md-1">
        <img src="{% static 'img/iconos/agenda40.png' %}"  class="helper-img" alt="ups">
    </div>
</div>

<!-- ************************************ FORM ************************************ -->
<div class="container col-md-8 thumbnail col-md-offset-2">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <br>
            <form method="post">
                {% csrf_token %}
                <fieldset class="fieldset">
                    <legend>
                        <b>Información requerida</b>
                    </legend>

                    <div class="form-group col-md-6">
                        <label>Paciente</label>
                        {% if agenda.paciente %}
                            <input type="text" value="{{ agenda.paciente}}" name="paciente" readonly="readonly"> 
                        {% else %}
                            <select id="paciente" name="paciente">
                            <option value="%">------</option>
                            {% for paciente in pacientes %}
                                <option name="paciente" id="paciente" value="{{ paciente.nombre }}">{{ paciente.nombre }}</option>
                            {% endfor %}
                        {% endif %}
                        </select>
                    </div>

                    <div class="form-group col-md-6">
                        <label>Empleado</label>
                        <select id="empleado" name="empleado">
                            {% if agenda.empleado %}
                                <option name="empleado" id="empleado" value="{{ agenda.empleado }}">{{ agenda.empleado }}</option>
                            {% else %}
                                <option name="empleado" id="empleado" value="">------</option>
                            {% endif %}
                            {% for empleado in empleados %}
                                <option name="empleado" id="empleado" value="{{ empleado.nombre }}">{{ empleado.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </fieldset>

                <fieldset class="fieldset">
                    <div class="form-group col-md-6">
                        <label style="margin-bottom: 5px;">Fecha</label>
                        {% if agenda.fecha_agenda %}
                            <input type="date" name="fecha" id="datepicker" value="{{agenda.fecha_agenda |date:"Y-m-d"}}" class="input-personalized">
                        {% else %}
                            <input type="text" name="fecha" id="datepicker"  class="input-personalized">
                        {% endif %}
                    </div>

                    <div class="form-group col-md-6">
                        <label>Hora</label>
                        <select name="hora" id="hora" onchange="set_date()">
                            {% if agenda.fecha_agenda %}
                                <option value="{{agenda.fecha_agenda | date:"H:i"}}">{{agenda.fecha_agenda | date:"h:i"}}</option>
                            {% else %}
                                <option value="00:00">00:00</option>
                            {% endif %}
                            <option name="hora" id="hora" value="08:00">08:00 AM</option>
                            <option name="hora" id="hora" value="08:30">08:30 AM</option>
                            <option name="hora" id="hora" value="09:00">09:00 AM</option>
                            <option name="hora" id="hora" value="09:30">09:30 AM</option>
                            <option name="hora" id="hora" value="10:00">10:00 AM</option>
                            <option name="hora" id="hora" value="10:30">10:30 AM</option>
                            <option name="hora" id="hora" value="11:00">11:00 AM</option>
                            <option name="hora" id="hora" value="11:30">11:30 AM</option>
                            <option name="hora" id="hora" value="12:00">12:00 PM</option>
                            <option name="hora" id="hora" value="12:30">12:30 PM</option>
                            <option name="hora" id="hora" value="13:00">1:00 PM</option>
                            <option name="hora" id="hora" value="13:30">1:30 PM</option>
                            <option name="hora" id="hora" value="14:00">2:00 PM</option>
                            <option name="hora" id="hora" value="14:30">2:30 PM</option>
                            <option name="hora" id="hora" value="15:00">3:00 PM</option>
                            <option name="hora" id="hora" value="15:30">3:30 PM</option>
                            <option name="hora" id="hora" value="16:00">4:00 PM</option>
                            <option name="hora" id="hora" value="16:30">4:30 PM</option>
                            <option name="hora" id="hora" value="17:00">5:00 PM</option>
                            <option name="hora" id="hora" value="17:30">5:30 PM</option>
                            <option name="hora" id="hora" value="18:00">6:00 PM</option>
                            <option name="hora" id="hora" value="18:30">6:30 PM</option>
                            <option name="hora" id="hora" value="19:00">7:00 PM</option>
                            <option name="hora" id="hora" value="19:30">7:30 PM</option>
                            <option name="hora" id="hora" value="20:00">8:00 PM</option>
                            <option name="hora" id="hora" value="20:30">8:30 PM</option>
                            <option name="hora" id="hora" value="21:00">9:00 PM</option>
                            <option name="hora" id="hora" value="21:30">9:30 PM</option>
                        </select>
                    </div>
                </fieldset>

                <fieldset class="fieldset">
                    <div class="form-group col-md-12">
                        <label>Motivo del cita</label>
                        {% if agenda.motivo %}
                            <textarea class="form-control" id="motivo" name="motivo" rows="5" id="comment">{{ agenda.motivo }}</textarea>
                        {% else %}
                            <textarea class="form-control" id="motivo" name="motivo" rows="5" id="comment"></textarea>
                        {% endif %}
                    </div>
                </fieldset>


                <fieldset>
                    <div class="form-group col-md-12" style="margin-left:-2%;">
                        <div class="col-md-12" style="margin-top:10px;">
                            <h4>Confirmar cita</h4>
                        </div>
                        <div class="col-md-4">
                            <input name="group" type="radio" id="pendiente" style="width:15%;" onclick="confirmaCita()" {{ pendiente_value }}>
                            <label for="Pendiente" style="color:rgba(255,147, 5, 1);"><label class="glyphicon glyphicon-minus"></label>&nbsp;&nbsp;Pendiente</label>
                        </div>
                        <div class="col-md-4 material-switch div_historial">
                            <input name="group" type="radio" id="confirmada" style="width:15%;" onclick="confirmaCita()" {{ confirmada_value }}>
                            <label for="confirmar" style="color:rgba(4, 161, 22, 1);"><label class="glyphicon glyphicon-ok"></label>&nbsp;&nbsp;Confirmar</label>
                        </div>
                        <div class="col-md-4">
                            <input name="group" type="radio" id="cancelada" style="width:15%;" onclick="confirmaCita()" {{ cancelada_value }}>
                            <label for="Cancelar" style="color:rgba(255, 5, 7, 0.98);"><label class="glyphicon glyphicon-remove"></label>&nbsp;&nbsp;Cancelar</label>
                        </div>
                    </div>
                </fieldset>
                <div class="form-group">
                    <div class="col-md-12">
                            {% if agenda.paciente %}
                                <button type="submit" onclick="set_empty_values()" class="btn btn-success col-md-4">Actualizar informacion</button>
                            {% else %}
                                <button type="submit" onclick="set_empty_values()" class="btn btn-success col-md-4">Agregar cita</button>
                            {% endif %}
                        <br>
                        <br>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
    <!-- ************************************ JS ************************************** -->
    <script>
        function set_initial_date() {
            var fecha = document.getElementById('datepicker');
            if (fecha.value.length == 0) {
                var today = new Date();
                var dd = today.getDate();
                var mm = today.getMonth() + 1; //January is 0!
                var yyyy = today.getFullYear();
                if (dd < 10) {
                    dd = '0' + dd
                }
                if (mm < 10) {
                    mm = '0' + mm
                }
                today = yyyy + '-' + mm + '-' + dd;
                fecha.value = today;
            }

        }
        
        function set_date() {
            var fecha = document.getElementById('datepicker');
            var hora = document.getElementById('hora');

            if (fecha.value.length > 10) {
                if (hora.value != "00:00") {
                    fecha.value = fecha.value.substring(0, 10);
                    fecha.value = fecha.value + " " + hora.value;
                } else {
                    fecha.value = fecha.value.substring(0, 10);
                }

            } else {
                fecha.value = fecha.value + " " + hora.value;
            }

        }

        function set_empty_values() {
            paciente = document.getElementById('paciente');
            motivo = document.getElementById('motivo');
            empleado = document.getElementById('empleado');
            precio = document.getElementById('precio');
            dolares = document.getElementById('dolares');
            var fecha = document.getElementById('datepicker');
            var hora = document.getElementById('hora');

            if (fecha.value.length > 10) {
                if (hora.value != "00:00") {
                        fecha.value = fecha.value.substring(0, 10);
                        fecha.value = fecha.value + " " + hora.value;
                    } else {
                        fecha.value = fecha.value.substring(0, 10);
                    }
                }
            else {
                fecha.value = fecha.value + " " + hora.value;
            }

            if (paciente.value == "") {
                alert('el campo paciente es requerido');
                paciente.value = "";
            }
            if (empleado.value == "") {
                alert('el campo empleado es requerido');
                empleado.value = "No registrado";
            }
            if (motivo.value == "") {
                motivo.value = "--";
            }
            if (precio.value == "") {
                precio.value = "--";
            }
            if (dolares.value == "") {
                dolares.value = "--";
            }
        }

        function confirmaCita() {
            console.log('hola');
            pendiente = document.getElementById('pendiente');
            confirmada = document.getElementById('confirmada');
            cancelada = document.getElementById('cancelada');
            
            if ( pendiente.checked == true){
                pendiente.value = "Pendiente";
            }
            if ( confirmada.checked == true){
                confirmada.value = "Confirmada";
            }
            if ( cancelada.checked == true){
                cancelada.value = "Cancelada";
            }
        }
    </script>

{% endblock %} 