{% extends "base.html" %}
{% block title %}ADEL | Agenda {% endblock %}

{% block body %}
{% load staticfiles %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/agenda/creacion.agenda.css' %}"/>
    <script src="{% static '/static/js/generic/calendarios.js'%}"></script>

<div class = "header">
  <span class="header_text">Agenda para  <label>{{ total_agenda }}</label></span>
  <img src="{% static 'img/iconos/visitas40.png' %}" alt="ups">
</div>

<section class="seccion_fondo">
  <!-- *********************************** barra de busqueda *********************************** -->
  <section class="herramientas_menu">      
    <form method=post>
    {% csrf_token %}
      <div class="seccion_busqueda">   
        <span><b>Buscar</b></span>
        
        <input type="text" id="myInput" name="paciente" 
        placeholder="nombre o motivo" class="search_busqueda"/>
        
        <input type="text" id="datepicker" name="fecha_inicial" onclick="clear_text()" 
        placeholder="fecha inicial" class="search_busqueda_fecha_inicial"/>

        <input type="text" id="datepickerf" name="fecha_final" onclick="clear_textf()" 
        placeholder="fecha final" class="search_busqueda_fecha_final"/>


      <!-- Seccion botones -->
        <a class="">
          <input type="submit" name="link_add_gasto" 
          class="btn_busqueda" value="Buscar"/>
        </a>
        <a href="/registro.agenda">
          <input type="button" name="link_add_gasto" 
          class="btn btn-success btn_agregar_elemento" value=" Agregar una cita"/>
        </a>
      </div>

    </form>
  </section>
<hr>
<!-- tabla de datos -->
  <section>
      <table class="generic-table">
      <thead class="columna">
        <th>Paciente</th>
        <th>Motivo</th>
        <th>Fecha</th>
        <th>Informacion</th>
        <th>Edicion</th>
        <th>Accion</th>
      </thead>
      {% for agenda in Agenda %}
      <tbody class="contenido" id="contenido">
        <td>{{ agenda.paciente   }}</td>
        <td>{{ agenda.motivo }}</td>
        <td>{{ agenda.fecha_agenda }}</td> 
        <td>
          <a type="button" class="glyphicon glyphicon-search" 
             onclick="open_modal('{{ agenda.paciente }}','{{ agenda.motivo }}',
             '{{ agenda.fecha_agenda }}','{{ agenda.pk }}')"> Ver
             </a>
       </td>
        <td><a href="{{ agenda.url_editar_agenda }}" class="glyphicon glyphicon-pencil"> Editar</a></td>
        <td><a href="{{ agenda.url_borrar_agenda }}" class="glyphicon glyphicon-trash"> Eliminar</a></td>
     </tbody>
     {% endfor %}
    </table>
    {% if mensaje != "" %}
     <div class="empty_query_result">{{ mensaje }}</div>
    {% endif %}
    <br><br>
  </section>
</section>

<!-- *********************************** modal ver *********************************** -->  
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <p id="textoPaciente" class="modal-header-p"></p>
    </div>
    <div class="modal-body">
      <table>
        <tr>
          <td class="modal-td"><b>Motivo</b></td>
          <td id="textoMotivo"></td>
        </tr>
        <tr>
          <td class="modal-td"><b>Fecha</b></td>
          <td id="textoFechaAgenda"></td>
        </tr>
      </table>
    </div>
    <div class="modal-footer">
      <a href="" id="id_editar">
        <button  class="btn btn-modal-edit">Editar</button>
      </a>
      <button class="btn btn-modal-close"> Cerrar </button>
    </div>
  </div>
</div>

<script>
  var modal = document.getElementById('myModal');
  var content_paciente = document.getElementById('textoPaciente');
  var content_motivo = document.getElementById('textoMotivo');
  var content_fecha = document.getElementById('textoFechaAgenda');
  var content_editar = document.getElementById('id_editar');

  var close = document.getElementsByClassName("btn-modal-close")[0];

  function open_modal(paciente, motivo, fecha,pk) { 
    modal.style.display = "block";
    content_paciente.innerHTML = "Cita de "+ paciente;
    content_motivo.innerHTML = motivo;
    content_fecha.innerHTML = fecha;
    content_editar.href = "/agenda/editar/"+ pk;
  }

  close.onclick = function() {
      modal.style.display = "none";
  }

  window.onclick = function(event) {
      if (event.target == modal) {
          modal.style.display = "none";
      }
  }
</script>

{% endblock %}


