{% extends "base.html" %}
{% block title %}ADEL | Agenda {% endblock %}
{% load staticfiles %}

{% block body %}
 
<div class = "header">
        <p class="header_text">Agenda para el dia de hoy | {{ total_agenda }}</p>
</div> 

<section class="seccion_fondo">
  <!-- *********************************** barra de busqueda *********************************** -->
  <section class="herramientas_menu">      
    <form method=post>
    {% csrf_token %}
      <div class="seccion_busqueda">   
        <span><b>Buscar</b></span>
        
        <input type="text" id="myInput" name="paciente" 
        placeholder="nombre o motivo" class="search_busqueda"/>
        
        <input type="text" id="datepicker" name="fecha_inicial" onclick="clear_text()" 
        placeholder="fecha inicial" class="search_busqueda_fecha_inicial"/>

        <input type="text" id="datepickerf" name="fecha_final" onclick="clear_textf()" 
        placeholder="fecha final" class="search_busqueda_fecha_final"/>


      <!-- Seccion botones -->
        <a class="">
          <input type="submit" name="link_add_gasto" 
          class="btn_busqueda" value="Buscar"/>
        </a>
        <a href="/registro.agenda">
          <input type="button" name="link_add_gasto" 
          class="btn_agregar_elemento" value=" Agregar una cita"/>
        </a>
      </div>

    </form>
  </section>
<hr>
<!-- tabla de datos -->
  <section>
    <table>
      <thead class="columna">
        <th>Paciente</th>
        <th>Motivo</th>
        <th>Fecha</th>
        <th>Estado</th>
        <th>Informacion</th>
        <th>Edicion</th>
        <th>Accion</th>
      </thead>
      {% for agenda in Agenda %}
      <tbody class="contenido" id="contenido">
        <td>{{ agenda.paciente   }}</td>
        <td>{{ agenda.motivo }}</td>
        <td>{{ agenda.fecha_agenda }}</td> 
        {% if estado = 0 %}
        <td class="glyphicon glyphicon-remove">{{ agenda.estado }}</td> 
        {% elif estado = 1%}
        <td class="glyphicon glyphicon-ok">{{ agenda.estado }}</td> 
        {% endif %}
        <td><a href="{{ agenda.url_ver_agenda }}" class="glyphicon glyphicon-search"> Ver </a></td>
        <td><a href="{{ agenda.url_editar_agenda }}" class="glyphicon glyphicon-pencil"> Editar</a></td>
        <td><a href="{{ agenda.url_borrar_agenda }}" class="glyphicon glyphicon-trash"> Eliminar</a></td>
     </tbody>
     {% endfor %}
    </table><br><br>
  </section>
</section>

<script>
$(function () {
$.datepicker.setDefaults($.datepicker.regional["es"]);
$("#datepicker").datepicker({
firstDay: 1,
monthNames: ['Enero', 'Febrero', 'Marzo','Abril', 'Mayo','Junio',
'Julio','Agosto','Septiempbre','Octubre','Noviembre','Diciembre'],
dayNamesMin: ['Dom','Lun','Mar','Mier','Jue','Vier','Sab'],
dateFormat: 'yy-mm-dd',
timeFormat:  "hh:mm:ss"
});
});
</script>

<script>
$(function () {
$.datepicker.setDefaults($.datepicker.regional["es"]);
$("#datepickerf").datepicker({
firstDay: 1,
monthNames: ['Enero', 'Febrero', 'Marzo','Abril', 'Mayo','Junio',
'Julio','Agosto','Septiempbre','Octubre','Noviembre','Diciembre'],
dayNamesMin: ['Dom','Lun','Mar','Mier','Jue','Vier','Sab'],
dateFormat: 'yy-mm-dd',
timeFormat:  "hh:mm:ss"
});
});
</script>

{% endblock %}


