{% extends "base.html" %}
{% block title %}ADEL | Agenda {% endblock %}
{% load staticfiles %}

{% block body %}
<div class = "header">
        <p class="header_text">Cita de {{ agenda.paciente }}</p>
</div>
<section class="proveedor_detalles" style="background-color: white">
	<section class="proveedor_detalles_informacion">
			<table class="tbl_proveedor_detalle">
				<thead>
					<th></th>
					<th></th>
				</thead>
				<tbody>
					<tr>	
						<td><b>Paciente</b></td>
						<td>{{ agenda.paciente }}</td>
					</tr>
					<tr>
						<td><b>Motivo</b></td>						
						<td>{{ agenda.motivo }}</td>
					</tr>
					<tr>
						<td><b>Fecha</b></td>
						<td>{{ agenda.fecha_agenda }}</td>
					</tr>
					<th></th>
					<th></th>
				</tbody>
			</table>
	</section>
	<a href="/lista.agenda">
		<input type="button" value="volver a la agenda" class="btn_naranja btn_volver btn_volver_detalle">
	</a>
</section>	
{% endblock %}