{% extends 'base.html' %}
{% block title %}ADEL | Agendar cita {% endblock %}
{% block albums_active %} active {% endblock %}

{% block body %}
<div class = "header">
        <p class="header_text">Agendar cita</p>
</div>

    <form method=post>
        {% csrf_token %}
        <section class="seccion_formulario">
            <div class="seccion_1 seccion_1_agenda">
                <label for="Paciente">Paciente</label>
                <select class="select_input" name="paciente" id="paciente">
                    <option value="0">-------</option>
                    {% for paciente in pacientes %}
                        <option value="{{ paciente.pk }}">{{ paciente.nombres }} {{ paciente.apellidos }}</option>
                    {% endfor %}
                </select>
                <div>
                    <label for="Fecha">Fecha</label>
                    <input type="text" id="datepicker" value="{{ fechai }}" name="fecha" >
                    <span>{{ form.fecha_agenda.errors }}</span>
                </div>
            </div>
            <div class="seccion_2">
                <div class="motivo_agenda">
                    <label for="motivo">Motivo</label>
                    <input type="text" name="motivo" >
                    <span>{{ form.fecha_agenda.errors }}</span>
                </div>
        </div>
        <div class="seccion_botones">           
            <input class="btn_naranja btn_formulario" id="save_contact" 
            type="submit" value="Registrar"/>
            <a href="/lista.agenda" class="btn_volver btn_volver_formulario">Volver a la agenda</a>
        </div>
        </section>
    </form>
</div>
 
<script>
$(function () {
$.datepicker.setDefaults($.datepicker.regional["es"]);
$("#datepicker").datepicker({
firstDay: 1,
monthNames: ['Enero', 'Febrero', 'Marzo','Abril', 'Mayo','Junio',
'Julio','Agosto','Septiempbre','Octubre','Noviembre','Diciembre'],
dayNamesMin: ['Dom','Lun','Mar','Mier','Jue','Vier','Sab'],
dateFormat: 'yy-mm-dd',
timeFormat:  "hh:mm:ss"
});
});
</script>

{% endblock %}