{% extends 'base.html' %}
{% block title %}ADEL | Agendar cita {% endblock %}
{% block albums_active %} active {% endblock %}

{% block body %}
{% load staticfiles %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/agenda/creacion.agenda.css' %}"/>
    <script src="{% static '/static/js/generic/calendarios.js'%}"></script>

<div class = "header">
  <span class="header_text">Agregar una cita</span>
  <img src="{% static 'img/iconos/visitas40.png' %}" alt="ups">
</div>

<section class="seccion_formulario">
    <form method=post>
    {% csrf_token %}
    <div class="seccion_1 seccion_1_agenda">

        <label class="label-formularios">Paciente</label>
        <select class="select" name="paciente" id="paciente">
            <option value="0">-------</option>
            {% for paciente in pacientes %}
            <option value="{{ paciente.pk }}">{{ paciente.nombre }}</option>
            {% endfor %}
        </select>
        <br>
        <label class="label-formularios">Dentista</label>
        <select class="select" name="paciente" id="paciente">
            <option value="0">-------</option>
            {% for empleado in empleados %}
            <option value="{{ empleado.pk }}">{{ empleado.nombre }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="seccion_2">
        <label class="label-formularios">Fecha</label><br>
        <input type="text" id="datepicker" value="{{ fechai }}" 
        placeholder="{{ fechai }}" name="fecha" style="width: 63%" />
        <select class="select" name = "hora" id="hora" style="width: 30%" onchange="set_date()">
            <option value="0">Hora</option>
                <option name = "hora" value="08:00">08:00</option>
                <option name = "hora" value="08:30">08:30</option>
                <option name = "hora" value="09:00">09:00</option>
                <option name = "hora" value="09:30">09:30</option>
                <option name = "hora" value="10:00">10:00</option>
                <option name = "hora" value="10:30">10:30</option>
                <option name = "hora" value="11:00">11:00</option>
                <option name = "hora" value="11:30">11:30</option>
                <option name = "hora" value="12:00">12:00</option>
                <option name = "hora" value="12:30">12:30</option>
                <option name = "hora" value="13:00">13:00</option>
                <option name = "hora" value="13:30">13:30</option>
                <option name = "hora" value="14:00">14:00</option>
                <option name = "hora" value="14:30">14:30</option>
                <option name = "hora" value="15:00">15:00</option>
                <option name = "hora" value="15:30">15:30</option>
                <option name = "hora" value="16:00">16:00</option>
                <option name = "hora" value="16:30">16:30</option>
                <option name = "hora" value="17:00">17:00</option>
                <option name = "hora" value="17:30">17:30</option>
                <option name = "hora" value="18:00">18:00</option>
                <option name = "hora" value="18:30">18:30</option>
                <option name = "hora" value="19:00">19:00</option>
                <option name = "hora" value="19:30">19:30</option>
                <option name = "hora" value="20:00">20:00</option>
                <option name = "hora" value="20:30">20:30</option>
        </select>
        <div class="motivo_agenda">
            <label class="label-formularios">Motivo</label>
            <input type="text" name="motivo" style="height: 70px;">
            <span>{{ form.fecha_agenda.errors }}</span>
        </div>

    </div>
        <div class="seccion_botones">           
            <input class="btn btn-success btn_agregar_elemento" style="margin-left: 5%;"
             id="save_contact" type="submit" value="Agendar cita"/>
            <a href="/lista.agenda" class="btn btn-default btn_busqueda" style="margin-left: 40%;">Volver</a>
        </div>
    </form>
</section>

<!-- nuevo paciente  PENDIENTE-->

<!-- <section class="seccion_formulario">
    <form method=post>
    {% csrf_token %}
    <div class="seccion_1 seccion_1_agenda">
        <label class="label-formularios">Paciente</label>
        <input type="text"
            placeholder="Paciente" name="paciente" style="width: 63%" />
        <div>
            <label class="label-formularios">Fecha</label><br>
            <input type="text" id="datepicker" value="{{ fechai }}" 
            placeholder="{{ fechai }}" name="fecha" style="width: 63%" />
            <select class="select" name = "hora" id="hora" style="width: 30%" onchange="set_date()">
                <option value="0">Hora</option>
                    <option name = "hora" value="08:00">08:00</option>
                    <option name = "hora" value="08:30">08:30</option>
                    <option name = "hora" value="09:00">09:00</option>
                    <option name = "hora" value="09:30">09:30</option>
                    <option name = "hora" value="10:00">10:00</option>
                    <option name = "hora" value="10:30">10:30</option>
                    <option name = "hora" value="11:00">11:00</option>
                    <option name = "hora" value="11:30">11:30</option>
                    <option name = "hora" value="12:00">12:00</option>
                    <option name = "hora" value="12:30">12:30</option>
                    <option name = "hora" value="13:00">13:00</option>
                    <option name = "hora" value="13:30">13:30</option>
                    <option name = "hora" value="14:00">14:00</option>
                    <option name = "hora" value="14:30">14:30</option>
                    <option name = "hora" value="15:00">15:00</option>
                    <option name = "hora" value="15:30">15:30</option>
                    <option name = "hora" value="16:00">16:00</option>
                    <option name = "hora" value="16:30">16:30</option>
                    <option name = "hora" value="17:00">17:00</option>
                    <option name = "hora" value="17:30">17:30</option>
                    <option name = "hora" value="18:00">18:00</option>
                    <option name = "hora" value="18:30">18:30</option>
                    <option name = "hora" value="19:00">19:00</option>
                    <option name = "hora" value="19:30">19:30</option>
                    <option name = "hora" value="20:00">20:00</option>
                    <option name = "hora" value="20:30">20:30</option>
            </select>
        </div>
        </div>
        <div class="seccion_2">
            <div class="motivo_agenda">
                <label class="label-formularios">Motivo</label>
                <input type="text" name="motivo" style="height: 70px;">
                <span>{{ form.fecha_agenda.errors }}</span>
            </div>
        </div>
        <div class="seccion_botones">           
            <input class="btn btn-success btn_agregar_elemento" style="margin-left: 5%;"
             id="save_contact" type="submit" value="Agendar cita"/>
            <a href="/lista.agenda" class="btn btn-default btn_busqueda" style="margin-left: 40%;">Volver</a>
        </div>
    </form></section> -->


<script>
    function set_date(){
        var fecha = document.getElementById('datepicker');
        var hora = document.getElementById('hora');

        if (fecha.value.length > 10){  
            if (hora.value != "00:00"){
                fecha.value = fecha.value.substring(0,10);
                fecha.value = fecha.value + " " + hora.value;
            }else {
            fecha.value = fecha.value.substring(0,10);    
            }
           
        }else{
            fecha.value = fecha.value + " " + hora.value;
        }
    }
</script>
 
{% endblock %}