{% extends 'base.html' %}
{% block title %}ADEL | Agendar cita {% endblock %}
{% block albums_active %} active {% endblock %}

{% block body %}
<div class = "header">
        <p class="header_text">Agendar cita</p>
</div>

    <form method=post>
        {% csrf_token %}
        <section class="seccion_formulario">
            <div class="seccion_1 seccion_1_agenda">
                <div class="motivo_agenda">
                    <label for="Paciente">Paciente</label>
                    <input type="text" name="motivo" value="{{ paciente.paciente }}">
                </div>
                <div>
                    <label for="Fecha">Fecha</label>
                    <input type="text" id="datepicker" value="{{ paciente.fecha_agenda }}" name="fecha" >
                </div>
            </div>
            <div class="seccion_2">
                <div class="motivo_agenda">
                    <label for="motivo">Motivo</label>
                    <input type="text" name="motivo"  value="{{ paciente.motivo }}">
                </div>
        </div>
        <div class="seccion_botones">           
            <input class="btn_confirmar" id="save_contact" 
            type="submit" value="Registrar"/>
            <a href="/lista.agenda" class="btn_volver">Volver</a>
        </div>
        </section>
    </form>
</div>
 
<script>
    $(function () {
    $.datepicker.setDefaults($.datepicker.regional["es"]);
    $("#datepicker").datepicker({
    firstDay: 1,
    monthNames: ['Enero', 'Febrero', 'Marzo','Abril', 'Mayo','Junio',
    'Julio','Agosto','Septiempbre','Octubre','Noviembre','Diciembre'],
    dayNamesMin: ['Dom','Lun','Mar','Mier','Jue','Vier','Sab'],
    dateFormat: 'yy-mm-dd',
    timeFormat:  "hh:mm:ss"
    });
    });
</script>

{% endblock %}