{% extends "base.html" %}
{% block title %}ADEL | Citas {% endblock %}
{% load staticfiles %}

{% block body %}

<section class="seccion_eliminar">
	<form method=post>
		{% csrf_token %}
		{% for agenda in agenda %}
		<span class="p_confirmacion" style="margin-left:25%">¿Estás seguro de eliminar esta cita?</span><br><br>
		<p><b>Paciente</b></p>
		<p>{{ agenda.paciente }}</p>
		<p><b>Fecha</b></p>
		<p>{{ agenda.fecha_agenda }}</p>
		<p><b>Motivo</b></p>
		<p>{{ agenda.motivo }}</p><br>
		{% endfor %}
		<input type="submit" value="confirmar" class="btn_confirmar">
	<a href="/lista.agenda">
		<input type="button" value="volver a la lista" class="btn_volver"><br><br>
	</a>
	</form>
</section>	
{% endblock %}