.header{
	width: 95%;
	margin: 2em;
	box-shadow: 0 8px 4px 0 rgba(0,8,0,0.2);
	border: 1px solid #999999;
}
	.header_text{
		text-align: center;
		font-weight: bold;
		font-size: 18px;
		margin-top: 1%;
	}
.container-fluid{
	background-color: #0874C6;
	border: 0.5px solid black;
	color: white;
}

a{
	color: #333333;
}
a:hover{
	color: #009AC9;
	text-decoration: none;
}

.btn_naranja{
	border: 0.5px solid black;
	background-color: #FF6B00;
	color: white;
}
input{
	width: 500px;
}
img{
	max-heigth: 50%;
	max-heigth: 50%;
}

/*----------------------------------- Barra de busqueda ----------------------------------------------*/
.seccion_fondo{	
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 95%;
    margin-left: 2em;
}
.herramientas_menu{
	margin-bottom: 2%;
	padding-top: 2%;
}
.seccion_busqueda{
	width: 40%;
	display: inline;
	float:lef;
}
.seccion_agregar_nuevo{
	width: 40%;
	display: inline;
	float:right;
}
.btn_agregar_elemento{
	width: 75%;
	margin-left: 18%;
}
.titulo{
		text-align: center;
}
/*----------------------------------- Barra de busqueda ----------------------------------------------*/



