
/* ----------------------------------- html elementos ---------------------------------------- */

body {
	background-color: #F7F7F7;
}

a {
	color: #333333;
	font-family: 'Roboto';
}

p , span, label, a {
	font-family: 'Roboto', sans-serif;
}

a:hover {
	color:  #008cba;
	text-decoration: none;
}

input {
	width: 100%;
}

select {
	height: 30px;
	width: 100%;
	background-color: rgba(238, 238, 238, 0.02);
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.36);
	-webkit-appearance: none;
	border-radius: 2px;
}

span {
		margin-left: 2em;
		margin-bottom: 2em;
	}

textarea{
	white-space: pre-wrap;
}

/* ----------------------------------- helper ---------------------------------------- */
.helper {
	width:95%;
	margin-top: 2%;
	margin-left: 2%;
  }

.total{
	background-color: rgba(131, 131, 131, 0.67);
	color: white;
	border-radius: 15px;
	padding-left: 8px;
	font-family: roboto;
	padding-right: 8px;
}
	
@media screen and (max-width: 1000px) {
	.helper-img {
		display: none;
	}
}

.bold {
	font-weight: bold;
}
.margin-top-10 {
	margin-top: 10px;
}


/* ----------------------------------- grid ---------------------------------------- */  
.grid {
	width:95%;
	margin-left: 2%;
	padding: 2em;
  }

.grid-table{
	height: 30em;
}
.tbl_main{
	width: 100%;
}

.ui-datepicker{
	width: 420px;
	border-radius: 5px;
}
.ui-datepicker-header{
	background-color: #008cba;
	color: white;
}
.tbl_main > thead{
	background-color:  #008cba;
	color: white;
}

.tbl_main > tbody > tr:hover {
	background-color: rgb(236, 236, 236);
}

@media screen and (max-width: 1000px) {

	.grid-elements > div{
		padding: 1em;
	}
	.tool{
		display: none;
	}
	.grid-table{
		height: 0%;
	}
}


/* ----------------------------------- bs-header ------------------------------------- */
.bs-header {
	margin-top: 20px;
}

.volver {
	margin-top: 10px;
}

.volver > a {
	font-size:18px;
	font-weight:600;	
}

.bs-header-text {
	text-align:center;
	font-size: 20px;
	margin-top: 1%;
}

.bs_header_img {
	float: right;
}

.fieldset { 
	margin-top: 10px;	
}

.fecha-nacimiento {
	margin-left: 32px;
}


/*----------------------------------------  textos -------------------------------------------------- */
.label-formularios {
	font-size: 18px;
	font-weight: 700;
}
.border-bottom {
	border-bottom: 1px solid #8b8b8b;
	text-align: center;
	font-size: 18px;
	font-weight: 800;
	margin-bottom: 5px;
}

/*----------------------------------------  botones -------------------------------------------------- */
.input-personalized {
	height: 30px;
	width: 100%;
	background-color: rgba(238, 238, 238, 0.02);
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.36);
	-webkit-appearance: none;
	-moz-border-radius: 2px;
	box-shadow:none;
	border-radius: 2px;
}

.empty_query_result {
	background-color: rgba(120, 171, 255, 0.32);
	text-align: center;
	font-size: 16px;
	padding: 0.3em;
	border-radius: 3px;
	font-weight: 400;
	font-family: roboto;
	margin: 1em;
	margin-left: 30px;
}

@media screen and (max-width: 1150px){
	.fecha-nacimiento, .fecha-nacimiento-dia {
		margin-left: 0px;
		width: 100%;
		margin-bottom: 15px;
	}
}

/* -------------------------------------- print section ------------------------------------------------ */
.recetas-print-area{
	width: 66.5%;
	margin: auto;
	margin-top: 7.5%;
}
.receta-info {
	margin-bottom: 30px;
	/* background-color: rebeccapurple; */
}
.descripcion {
	font-weight: 300;
	margin-left: 35%;
}
.receta-contact {
	text-align: center;
	font-weight: bold;
	font-size: 14px;
}
@media print {
	.no-print {
		display: none;
	}
	.print {
		width: 90%;
	}
}
@media screen and (max-width: 1000px){
	.recetas-print-area {
		width: 95%;
		margin-top: 7.5%;
	}
}

