body{
	background-color: #F7F7F7;
}
.header{
	width: 95%;
	margin: 2em;
	box-shadow: 0 4px 4px 0 rgba(0,8,0,0.2);
	border: 1px solid #AAAAAA;
	background-color: white;
	border-radius: 5px;
}
	.header_text{
		text-align: center;
		font-weight: bold;
		font-size: 18px;
		margin-top: 1%;
	}

a{
	font-family: roboto;
	color: #333333;
}
p,span{
	font-family:roboto;
}
a:hover{
	color: #009AC9;
	text-decoration: none;
}

input{
	width: 100%;
}
img{
	max-height: 50%;
}

/*----------------------------------- Barra de busqueda ----------------------------------------------*/
.herramientas_menu{
	margin-left: -1%;
	margin-top: 1%;
}
.seccion_busqueda{
	display: inline;
	font-size: 20px;
}
.search_busqueda{
	width: 20%;
	border-radius: 5px;
}
.search_busqueda_fecha_inicial{
	width: 15%;
	border-radius: 5px;
	margin-left: 3%;
}
.search_busqueda_fecha_final{
	width: 15%;
	border-radius: 5px;
	margin-left: 1%;
}

.btn_busqueda{
	background-color: #626A70;
	border: 0.1px solid #777777;
	color: white;
	width: 15%;
	border-radius: 6px;
	font-size: 20px;
	padding: 2px 1px;
	margin-left: 3%;
}

.btn_agregar_elemento{
	background-color: #FD4B33;
	border: 0.1px solid #777777;
	color: white;
	width: 15%;
	font-size: 20px;
	padding: 3px 1px;
	border-radius: 6px;
}

.seccion_agregar_nuevo>a{
	display: inline-block;
	width: 15%;
	margin-left: 5%;
}
 
.titulo{
		text-align: center;
}
.search_busqueda{
	width: 20%;
}

/*----------------------------------- Barra de busqueda 2 ----------------------------------------------*/
.seccion_busqueda_2{
	display: inline;
	margin-left: 5%;
	font-size: 20px;
}
.search_busqueda_2{
	width: 40%;
	font-size: 20px;
	border-radius: 5px;
}
.btn_busqueda_2{
	background-color: #626A70;
	border: 0.1px solid #777777;
	color: white;
	width: 15%;
	border-radius: 6px;
	font-size: 20px;
	padding: 2px 1px;
	margin-left: 3%;
}
.btn_agregar_elemento_2{
	background-color: #FD4B33;
	border: 0.1px solid #777777;
	color: white;
	width: 20%;
	font-size: 20px;
	padding: 3px 1px;
	margin-left: 5%;
	border-radius: 6px;
}

/*----------------------------------- Tabla de usuarios ----------------------------------------------*/
.titulo{
		text-align: center;
}
table{
	width: 97%; 
	margin-left: 2em;
}

.search_input{
	margin-left: 2em;
	margin-bottom: 2em;
}

th{
	background-color: #333333;
	color: white;
	padding: 3px;
}

.contenido>tr>td{
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: roboto;
}
tr:hover{
	background-color: #DDDDDD;
}

.seccion_fondo{
	background-color: white;
	border: 1px solid #AAAAAA;
	box-shadow: 0 4px 4px 0 rgba(0,8,0,0.2);
	padding: 1em;
	width: 95%;
	margin-left: 2em;
	margin-bottom: 2%;
	border-radius: 5px;
}

/*----------------------------------- boton registar volver ----------------------------------------------*/

.seccion_botones{
	margin-bottom: 2%;
	margin-left: 12%; 
}
.seccion_botones>input{
	display: inline-block;
}
.seccion_botones>a{
	display: inline-block;
}
.btn_formulario{
	width: 35%;
}
.btn_volver_formulario{
	width: 35%;
	margin-left: 17%;
	height: 26px;
}
/*----------------------------------------  botones -------------------------------------------------- */

.btn_agregar{
	background-color: #FD4B33;
	border: 0.1px solid #777777;
	color: white;
	border-radius: 6px;
	font-size: 20px;
	padding: 2px 1px;
}


.btn_volver{
	background-color: #626A70;
	border: 0.1px solid #777777;
	color: white;
	width: 25%;
	border-radius: 6px;
	font-size: 20px;
	padding: 2px 1px;
	margin-left: 3%;
}

.btn_volver_detalle{
	width: 25%;
	margin: 1em;
}




