<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}ADEL{% endblock %}</title>
    {% load staticfiles %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    
    <!-- css genericos -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login/login.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/generic/modal.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/generic/borrar.css' %}"/>
    
    <!-- scripts bootstrap -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    
    <!-- script google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    
    <!-- script jquery -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> 
</head>

<body>
    <nav class="container_menu">
        <div class="menu_logo">
            <div class="div_logo">
                <a href="../">
                    <img src="{% static 'img/iconos/logo.png' %}" alt="Empleados">
                </a>
            </div>
        </div>
        <div class="menu_content">
                <div class="base_menus base_visitas">
                    <a href="/lista.visitas">
                        <span class="base_span glyphicon glyphicon-home  icono_menu_principal"> Visitas</span>
                    </a>
                </div>
                <div class="base_menus base_visitas">
                    <a href="/lista.empleados">
                        <span class="base_span glyphicon glyphicon-user  icono_menu_principal"> Empleados</span>
                    </a>
                </div>
                <div class="base_menus base_pacientes">
                    <a href="/lista.pacientes">
                        <span class="base_span glyphicon glyphicon-user  icono_menu_principal"> Pacientes</span>
                    </a>
                </div>
                <div class="base_menus base_proveedores">
                    <a href="/lista.proveedores">
                        <span class="base_span glyphicon glyphicon-object-align-bottom icono_menu_principal"> Proveedores</span>
                    </a>
                </div>
                <div class="base_menus base_gastos">
                    <a href="/lista.gastos">
                        <span class="base_span glyphicon glyphicon-usd  icono_menu_principal"> Gastos</span>
                    </a>
                </div>
                <div class="base_menus base_agenda">
                    <a href="/lista.agenda">
                        <span class="base_span glyphicon glyphicon-list-alt  icono_menu_principal"> Agenda</span>
                    </a>
                </div>
                <div class="base_menus base_agenda">
                    <a href="/movimientos">
                        <span class="base_span glyphicon glyphicon-th-list  icono_menu_principal"> Movimientos</span>
                    </a>
                </div>
                <div class="base_menus base_agenda usuario">
                    <a href="/movimientos">
                        <span class="base_span glyphicon glyphicon-home icono_menu_principal">
                         {{request.user.username}}</span>
                    </a>
                </div>
                <div class="base_menus base_agenda salir">
                    <a href="{% url 'logout.view.url' %}">
                        <span class="icono_menu_principal"> Salir</span>
                    </a>
                </div>
        </div>
    </nav>
    
{% block body %}
{% endblock %}

</body>
</html>