<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}ADEL{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/empleados/empleados.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login/login.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/empleados/creacion.empleados.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/pacientes/paciente.detalle.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index/index.css' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="http://127.0.0.1:8000">
                <span class="icono_menu_principal">ADEL</span>
            </a>
        </div>

        <!-- Items -->
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/lista.empleados">
                        <span class="glyphicon glyphicon-user  icono_menu_principal"> Empleados</span>
                    </a>
                </li>
                <li>
                    <a href="/registro" class="icono_menu_principal">
                    <span class="glyphicon glyphicon-plus icono_menu_principal"> Agregar empleado</span>
                    </a>
                </li>
                <li>
                    <a href="/lista.pacientes">
                        <span class="glyphicon glyphicon-user icono_menu_principal"> Pacientes</span>
                    </a>
                </li>
                <li>
                    <a href="/registro.paciente" class="icono_menu_principal">
                    <span class="glyphicon glyphicon-plus icono_menu_principal"> Agregar paciente</span>
                    </a>
                </li>
                <li>
                    <a href="" class="icono_menu_principal">
                        <span class="glyphicon glyphicon-off icono_menu_principal"> Cerrar sesion</span>
                    </a>
                </li>
            </ul>
        </div>
</nav>
{% block body %}
{% endblock %}
</body>
</html>