<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title> {% block title %} ADEL {% endblock %} </title>
  {% load staticfiles %}
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- css google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
  
  <!-- script jquery -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <!-- css bootstrap -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- scripts bootstrap -->
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <!-- css adel -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/generic/base.css' %}" />

</head>

<body>

  <div class="topnav" id="myTopnav">
      <div class="div-dropdown">
          <a href="../" class="dropbtn"> ADEL</a>
        </div>
    
    <div class="div-dropdown">
        <button class="dropbtn">
          Pacientes
        </button>
        <div class="dropdown-children">
          <a href="/registro.paciente"><label class="glyphicon glyphicon-plus"></label> Agregar paciente</a>
          <a href="/lista.pacientes"><label class="glyphicon glyphicon-list"></label> Ver lista de pacientes</a>
        </div>
      </div>
  
      <div class="div-dropdown">
        <button class="dropbtn">
          Visitas
        </button>
        <div class="dropdown-children">
          <a href="/registro.visita"><label class="glyphicon glyphicon-plus"></label> Agregar visita</a>
          <a href="/lista.visitas"><label class="glyphicon glyphicon-list"></label> Ver lista de visitas</a>
        </div>
      </div>
  
      <div class="div-dropdown">
        <button class="dropbtn">
          Empleados
        </button>
        <div class="dropdown-children">
          <a href="/registro.empleado"><label class="glyphicon glyphicon-plus"></label> Agregar Empleado</a>
          <a href="/lista.empleados"><label class="glyphicon glyphicon-list"></label> Ver lista de empleados</a>
        </div>
      </div>
  
      <div class="div-dropdown">
        <button class="dropbtn">
          Proveedores
        </button>
        <div class="dropdown-children">
          <a href="/registro.proveedor"><label class="glyphicon glyphicon-plus"></label> Agregar proveedor</a>
          <a href="/lista.proveedores"><label class="glyphicon glyphicon-list"></label> Ver lista de proveedores</a>
        </div>
      </div>
  
      <div class="div-dropdown">
        <button class="dropbtn">
          Gastos
        </button>
        <div class="dropdown-children">
          <a href="/registro.gasto"><label class="glyphicon glyphicon-plus"></label> Agregar un gasto</a>
          <a href="/lista.gastos"><label class="glyphicon glyphicon-list"></label> Ver lista de gastos</a>
        </div>
      </div>
  
      <div class="div-dropdown">
        <button class="dropbtn">
          Agenda
        </button>
        <div class="dropdown-children">
          <a href="/registro.agenda"><label class="glyphicon glyphicon-plus"></label> Agregar cita</a>
          <a href="/lista.agenda"><label class="glyphicon glyphicon-list"></label> Ver citas</a>
        </div>
      </div>
  
      <div class="div-dropdown">
        <button class="dropbtn">
          Movimientos
        </button>
        <div class="dropdown-children">
          <a href="/movimientos"><label class="glyphicon glyphicon-list"></label> Ver Movimientos</a>
        </div>
      </div>

      <div class="div-dropdown">
        <button class="dropbtn">
          Recetas
        </button>
        <div class="dropdown-children">
          <a href="/lista.recetas"><label class="glyphicon glyphicon-list"></label> Ver recetas</a>
        </div>
      </div>
      

      <div class="div-dropdown div-logout">
        <button class="dropbtn">
          <a href="/logout"><label class="glyphicon glyphicon-log-out"></label> Salir</a>
        </button>
        <div class="dropdown-children"></div>
      </div>

      <div class="div-dropdown div-logout">
          <button class="dropbtn">
          <a href="#"><label class="glyphicon glyphicon-cog"></label> {{ user.get_username }}</a>
        </button>
      </div>


    <a href="javascript:void(0);" style="font-size:35px; margin-top: 4px;" class="icon" onclick="myFunction()">&#9776;</a>
  </div>



  <!-- ok ******************************************************* -->

  {% block body %}
{% endblock %}

</body>

<script>
 function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
      x.className += " responsive";
  } else {
      x.className = "topnav";
  }
}

</script>

</html>