{% extends "base.html" %}
{% load staticfiles %}

{% block body %}
{% load staticfiles %}
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{% static 'css/login/cuenta.css' %}"/>


<div class="floating-box">
	<h4>Pacientes</h4>
	<a href="/lista.pacientes">
		<img src="{% static 'img/iconos/visitas.png' %}"  alt="Visitas">
	</a>
	<p>Cita para hoy a las 12pm Erika Duran dentista Javier Lopez</p>
	<p>Texto 2</p>
	<p>Texto 3</p>
</div>

<div class="floating-box">
	<h4>Visitas</h4>
	<a href="/lista.visitas">
		<img src="{% static 'img/iconos/visitas.png' %}"  alt="Visitas">
	</a>
	<p>Texto 1</p>
	<p>Texto 2</p>
	<p>Texto 3</p>
</div>

<div class="floating-box">
	<h4>Agenda</h4>
	<a href="/lista.agenda">
		<img src="{% static 'img/iconos/visitas.png' %}"  alt="Visitas">
	</a>
	<p>Texto 1</p>
	<p>Texto 2</p>
	<p>Texto 3</p>
</div>

<div class="floating-box">
	<h4>Proveedores</h4>
	<a href="/lista.proveedores">
		<img src="{% static 'img/iconos/visitas.png' %}"  alt="Visitas">
	</a>
	<p>Texto 1</p>
	<p>Texto 2</p>
	<p>Texto 3</p>
</div>

<div class="floating-box">
	<h4>Movimientos</h4>
	<a href="/lista.movimientos">
		<img src="{% static 'img/iconos/visitas.png' %}"  alt="Visitas">
	</a>
	<p>Texto 1</p>
	<p>Texto 2</p>
	<p>Texto 3</p>
</div>

<div class="floating-box">
	<h4>Empleados</h4>
	<a href="/lista.empleados">
		<img src="{% static 'img/iconos/visitas.png' %}"  alt="Visitas">
	</a>
	<p>Texto 1</p>
	<p>Texto 2</p>
	<p>Texto 3</p>
</div>

{% endblock %}