{% extends "base.html" %}
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'css/index/index.css' %}"/>
{% block body %}
<section class="fondo_menu_principal">
	<section class="seccion_menu_principal">
		<div class="imagen principal">
			<img src="http://via.placeholder.com/1220x250" class="img_menu_cards" alt="Pacientes">
		</div>
	</section>
	<section class="seccion_menu_cards">
		<a href="/lista.pacientes">
			<div class="card_menu_cards">
				<h4 class="texto_menu_cards">Pacientes</h4>
				<img src="http://via.placeholder.com/180x150" class="img_menu_cards" alt="Pacientes">
				<div class="container">
					<a href="/registro.paciente"><p>Agregar pacientes</p></a>
				</div>
			</div>
		</a>
		<a href="/lista.visitas">
			<div class="card_menu_cards">
				<h4 class="texto_menu_cards">Visitas</h4>
				<img src="http://via.placeholder.com/180x150" class="img_menu_cards" alt="Visitas">
				<div class="container">
					<a href="/registrar.visita"><p>Agregar visita</p></a>
			  	</div>
			</div>
		</a>
		<a href="/lista.empleados">
			<div class="card_menu_cards">
			  <h4 class="texto_menu_cards">Empleados</h4> 
			  <img src="http://via.placeholder.com/180x150" class="img_menu_cards" alt="Empleados">
			  <div class="container">
			    <a href="/registro.empleado"><p>Agregar empleado</p></a>
			  </div>
			</div>
		</a>
		<a href="/lista.proveedores">
			<div class="card_menu_cards">
			  <h4 class="texto_menu_cards">Proveedores</h4> 
			  <img src="http://via.placeholder.com/180x150" class="img_menu_cards" alt="Proveedores">
			  <div class="container">
			    <a href="/registro.proveedor"><p>Agregar proveedor</p></a>
			  </div>
			</div>
		</a>
		<a href="/lista.gastos">
			<div class="card_menu_cards">
			  <h4 class="texto_menu_cards">Gastos</h4> 
			  <img src="http://via.placeholder.com/180x150" class="img_menu_cards" alt="Egresos">
			  <div class="container">
			    <a href="www.google.com"><p>Registrar un gasto</p></a>
			  </div>
			</div>
		</a>
	</section>
</section>
{% endblock %}