<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title> {% block title %} ADEL {% endblock %} </title>
	{% load staticfiles %}
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- css google fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">

	<!-- script jquery -->
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

	<!-- css bootstrap -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	 crossorigin="anonymous">

	<!-- scripts bootstrap -->
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	 crossorigin="anonymous"></script>

	<!-- css adel -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/generic/base.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/login/index.css' %}" />
</head>

<body onload="checaCitasConfirmadas()">
	<div class="col-md-12 navegacion-main">
		<div class="col-md-1">
			<img class="img-adel" src="{% static 'img/iconos/logo.png' %}" alt="pacientes">
		</div>
		<div class="col-md-10 adel">
			<label class="adel-text">Administración Dental En Linea</label>
		</div>
		<div class="col-md-1 adel-logout">
			<a href="./logout">
				<label class="glyphicon glyphicon-log-out"></label> &nbsp;SALIR</a>
		</div>
	</div>
	<!-- *************************************** Modulos *************************************** -->
	<div class="container col-md-12 col-xs-12 main-section">
		<div class="col-md-6 col-sm-12">
			<div class="col-md-3 col-sm-12 module">
				<a href="./lista.pacientes">
					<h4><b>Pacientes</b></h4>
					<img class="card-img-top" src="{% static 'img/iconos/pacientes.png' %}" alt="Pacientes">
				</a>
			</div>
			<div class="col-md-3 col-sm-12 module">
				<a href="./lista.visitas">
					<h4><b>Visitas</b></h4>
					<img class="card-img-top" src="{% static 'img/iconos/visitas.png' %}" alt="visitas">
				</a>
			</div>
			<div class="col-md-3 col-sm-12 module">
				<a href="./lista.empleados">
					<h4><b>Empleados</b></h4>
					<img class="card-img-top" src="{% static 'img/iconos/empleados.png' %}" alt="empleados">
				</a>
			</div>
			<div class="col-md-3 col-sm-12 module">
				<a href="./lista.proveedores">
					<h4><b>Proveedores</b></h4>
					<img class="card-img-top" src="{% static 'img/iconos/proveedores.png' %}" alt="proveedores">
				</a>
			</div>
		</div>

		<div class="col-md-6 col-sm-12">
			<div class="col-md-3 col-sm-12 module">
				<a href="./lista.gastos">
					<h4><b>Gastos</b></h4>
					<img class="card-img-top" src="{% static 'img/iconos/gastos.png' %}" alt="gastos">
				</a>
			</div>
			<div class="col-md-3 col-sm-12 module">
				<a href="./lista.agenda">
					<h4><b>Agenda</b></h4>
					<img class="card-img-top" src="{% static 'img/iconos/agenda.png' %}" alt="agenda">
				</a>
			</div>
			<div class="col-md-3 col-sm-12 module">
				<a href="./lista.movimientos">
					<h4><b>Movimientos</b></h4>
					<img class="card-img-top" src="{% static 'img/iconos/proveedores.png' %}" alt="movimientos">
				</a>
			</div>
			<div class="col-md-3 col-sm-12 module">
				<a href="./lista.proveedores">
					<h4><b>Recetas</b></h4>
					<img class="card-img-top" src="{% static 'img/iconos/recetas.png' %}" alt="recetas">
				</a>
			</div>
		</div>
	</div>
	<!-- *************************************** Resumen *************************************** -->
	<div class="div-resumen">
		
		<div class="col-md-5 col-xs-12 resumen">
			<div class="resumen-header">Últimas visitas</div>
			<div class="resumen-body">
				<div class="table-responsive tbl-resumen">  
					<table class="table">
						<thead>
							<tr class="tbl-resumen-tr">
								<th>ID</th>
								<th>Paciente</th>
								<th>Motivo</th>
								<th>Fecha</th>
							</tr>
						</thead>
						{% for visita in visitas %}
						<tbody>
							<tr>
								<td>
									<a href="{{ visita.url_editar_visitas }}">
										<label class="glyphicon glyphicon-pencil"></label>
									</a>
								</td>
								<td scope="row">{{ visita.paciente }}</td>
								<td>{{ visita.motivo }}</td>
								<td>{{ visita.fecha_visita | date:"l d F P" }}</td>
							</tr>
						</tbody>
					{% endfor %}
					</table>
				</div>
			</div>
		</div>

		<div class="col-md-5 col-sm-12 resumen">
			<div class="resumen-header">Próximas citas</div>
			<div class="resumen-body">
					<div class="table-responsive tbl-resumen">  
						<table class="table">
							<thead>
							<tr class="tbl-resumen-tr">
								<th scope="col">ID</th>
								<th scope="col">Paciente</th>
								<th scope="col">Motivo</th>
								<th scope="col">Fecha</th>
								<th scope="col">Status</th>
							</tr>
						</thead>
						{% for cita in citas %}
						<tbody>
							<tr class="citaTR">
								<td>
									<a href="{{ cita.url_editar_agenda }}">
										<label class="glyphicon glyphicon-pencil"></label>
									</a>
								</td>
								<td scope="row">{{ cita.paciente }}</td>
								<td>{{ cita.motivo }}</td>
								<td>{{ cita.fecha_agenda | date:"l d F P" }}</td>
								<td class="citaTD">{{ cita.confirmacion }}</td>
							</tr>
						</tbody>
					{% endfor %}
					</table>
				</div>
			</div>
		</div>
	</div>
</body>

<script>
	function checaCitasConfirmadas(){
	console.log('Entre');
    var citaTD = document.getElementsByClassName('citaTD');
    var citaTR = document.getElementsByClassName('citaTR');
	console.log('1');
	console.log(citaTR.length);
   	for (i = 0; i < citaTR.length; i++) { 
      if (citaTD[i].innerHTML == 'Confirmada'){
        console.log('2');
        citaTR[i].style.backgroundColor = 'rgba(65, 198, 92, 0.47)';
        citaTD[i].innerHTML = '<label class="glyphicon glyphicon-ok"></label>';
      } else if (citaTD[i].innerHTML == 'Pendiente') {
		console.log('3');
        citaTR[i].style.backgroundColor = 'rgba(255, 224, 5, 0.23)';
        citaTD[i].innerHTML = '<label class="glyphicon glyphicon-minus"></label>';
      } else if (citaTD[i].innerHTML == 'Cancelada') {
		console.log('3');
        citaTR[i].style.backgroundColor = 'rgba(255, 10, 7, 0.55)';
        citaTD[i].innerHTML = '<label class="glyphicon glyphicon-remove"></label>';
      }

    }
  }
</script>

</html>