{% extends 'base.html' %}
{% block title %}ADEL | agregar empleado {% endblock %}
{% block body %}

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/empleados/creacion.empleados.css' %}"/>
<div class = "header">
        <p class="header_text">Agregar empleado</p>
</div>

<section class="seccion_formulario">
    <form method=post>
    {% csrf_token %}
    <div class="seccion_1">
        <div>
            <label>{{ form.nombre.label}}</label>
            {{ form.nombre }}
            <span>{{ form.nombre.errors }}</span>
        </div>
        <div>
            <label>{{ form.puesto.label}}</label>
            {{ form.puesto }}
            <span>{{ form.puesto.errors }}</span>
        </div>
        <div>
            <label>{{ form.edad.label}}</label>
            {{ form.edad }}
            <span>{{ form.edad.errors }}</span>
        </div>
    </div>

    <div class="seccion_2">
        <div>
            <label>{{ form.telefono.label}}</label>
            {{ form.telefono }}
            <span>{{ form.telefono.errors }}</span>
        </div>
        <div>
            <label>{{ form.correo.label}}</label>
            {{ form.correo }}
            <span>{{ form.correo.errors }}</span>
        </div>
        <div>
            <label>{{ form.direccion.label}}</label>
            {{ form.direccion }}
            <span>{{ form.direccion.errors }}</span>
        </div>
    </div>
    <div class="seccion_botones">           
        <input class="btn_confirmar" id="save_contact" 
        type="submit" value="Registrar"/>
        <a href="/lista.empleados" class="btn_volver">Volver</a>
    </div>
    </form>
</section>
</div>

{% endblock %}
