{% extends "base.html" %}
{% block title %}ADEL | eliminar empleado {% endblock %}
{% load staticfiles %}

{% block body %}

<section class="seccion_eliminar">
	<form method=post>
		{% csrf_token %}
		<p class="p_confirmacion" style="text-align: left;">¿Estás seguro de eliminar a {{ empleado.nombre }} ?</p>
		<br>
		<input type="submit" value="confirmar" class="btn btn-danger btn_confirmar">
		<a href="/lista.empleados">
		<input type="button" value="volver a lista" class="btn_volver btn_volver_eliminar"><br><br>
		</a>
	</form>
</section>	
{% endblock %}