{% extends "base.html" %}
{% block title %}ADEL | empleados {% endblock %}
{% load staticfiles %} 

{% block body %}

<div class = "header">
  <span class="header_text">Empleados actuales <label>{{ total_empleados }}</label></span>
  <img src="{% static 'img/iconos/empleados40.png' %}" alt="ups">
</div>

<!-- herramientas de menu -->
<section class="seccion_fondo">
  <section class="herramientas_menu">      
    <form method=post>
    {% csrf_token %}
      <!-- barra de busqueda -->
      <div class="seccion_busqueda_2">   
        <span><b>Buscar</b></span>
        <input type="text" id="myInput" onkeyup="myFunction()" name="empleado" 
        placeholder="nombre o puesto" class="search_busqueda_2">
      
        <a class="btn_busquea_2">
          <input type="submit" name="link_add_gasto" 
          class="btn btn-default btn_busqueda" value="Buscar"/>
        </a>
        <a href="/registro.empleado">
          <input type="button" name="link_add_gasto" 
          class="btn btn-success btn_agregar_elemento" value="Agregar un empleado"/>
        </a>
      </div>
    </form>
  </section>
<hr>
<!-- tabla de datos -->

  <table class="generic-table">
     <thead class="columna">
          <th>Nombre</th>
          <th>puesto</th>
          <th>Telefono</th>
          <th>Detalles</th>
          <th>Edicion</th>
          <th>Accion</th>
     </thead>
     {% for empleado in empleados %}
     <tbody class="contenido" id="contenido">
          <td>{{ empleado.nombre }}</td>
          <td>{{ empleado.puesto }}</td>
          <td>{{ empleado.telefono }}</td>
          <td>
              <a type="button" class="glyphicon glyphicon-search" 
             onclick="open_modal('{{ empleado.nombre }}','{{ empleado.puesto }}',
              '{{ empleado.edad }}','{{ empleado.telefono }}','{{ empleado.correo }}',
              '{{ empleado.direccion }}','{{ empleado.fecha_inicio }}','{{ empleado.pk }}')"> Ver
             </a>
         </td>
          <td>
               <a href="{{ empleado.url_editar_empleado }}" class="glyphicon glyphicon-pencil"> Editar</a>
          </td>
          <td>
               <a href="" class="glyphicon glyphicon-trash"> Borrar</a>
          </td>
     </tbody>
     {% endfor %}
     </table>
     {% if mensaje != "" %}
     <div class="empty_query_result">{{ mensaje }}</div>
     {% endif %}
     <br><br>
</section>

<!-- *********************************** modal ver *********************************** -->  
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <p id="textoEmpleado" class="modal-header-p"> </p>
    </div>
    <div class="modal-body">
      <table>
        <tr>
          <td class="modal-td"><b>Puesto</b></td>
          <td id="textoPuesto"></td>
        </tr>
        <tr>
          <td class="modal-td"><b>Edad</b></td>
          <td id="textoEdad"></td>
        </tr>
        <tr>
          <td class="modal-td"><b>Telefono</b></td>
          <td id="textoTelefono"></td>
        </tr>
        <tr>
          <td class="modal-td"><b>Correo</b></td>
          <td id="textoCorreo"></td>
        </tr>
        <tr>
          <td class="modal-td"><b>Direccion</b></td>
          <td id="textoDireccion"></td>
        </tr>
        <tr>
          <td class="modal-td"><b>Fecha de inicio</b></td>
          <td id="textoFecha"></td>
        </tr>
      </table>
    </div>
    <div class="modal-footer">
      <a href="" id="id_editar">
        <button  class="btn btn-modal-edit">Editar</button>
      </a>
      <button class="btn btn-modal-close"> Cerrar </button>
    </div>
  </div>
</div>



<script>
  var modal = document.getElementById('myModal');
  var content_empleado = document.getElementById('textoEmpleado');
  var content_puesto = document.getElementById('textoPuesto');
  var content_edad = document.getElementById('textoEdad');
  var content_telefono = document.getElementById('textoTelefono');
  var content_correo = document.getElementById('textoCorreo');
  var content_direccion = document.getElementById('textoDireccion');
  var content_fecha = document.getElementById('textoFecha');
  var content_editar = document.getElementById('id_editar');
  var close = document.getElementsByClassName("btn-modal-close")[0];

  function open_modal(nombre, puesto, edad, telefono, correo, direccion, fecha, pk) { 
    modal.style.display = "block";
    content_empleado.innerHTML = nombre;
    content_puesto.innerHTML = puesto;
    content_edad.innerHTML = edad + " años";
    content_telefono.innerHTML = telefono;
    content_correo.innerHTML = correo;
    content_direccion.innerHTML = direccion;
    content_fecha.innerHTML = fecha;
    content_editar.href = "/empleados/editar/"+ pk;
  }

  close.onclick = function() {
      modal.style.display = "none";
  }

  window.onclick = function(event) {
      if (event.target == modal) {
          modal.style.display = "none";
      }
  }
</script>


{% endblock %}





