{% extends 'base.html' %}
{% block title %}ADEL | empleados {% endblock %}
{% block body %}

    {% load staticfiles %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script src="{% static '/static/js/generic/calendarios.js'%}"></script>

<!-- ************************************  HELPER ************************************ -->
 <div class="container col-md-8 thumbnail col-md-offset-2 bs-header">
    <div class="col-md-2 volver">
        <a href="/lista.empleados">
          <label class="glyphicon glyphicon-chevron-left"></label>&nbsp;Volver</a>
    </div>
    <div class="col-md-9 bs-header-text helper-text">
        {% if empleado.nombre %}
            <label>{{ empleado.nombre }}</label>
        {% else %}
            <label>Agregar empleado</label>
        {% endif %}
    </div>
    <div class="helper-img col-md-1">
        <img src="{% static 'img/iconos/empleados40.png' %}"  class="helper-img" alt="ups">
    </div>
</div>

    <!-- ************************************ FORM ************************************ -->
<div class="container col-md-8 thumbnail col-md-offset-2">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <br>
            <form method="post">
                {% csrf_token %}
                <fieldset class="fieldset">
                    <legend>
                        <b>Información requerida</b>
                    </legend>

                    <div class="form-group col-md-6">
                        <label>Nombre</label>
                        {% if empleado.nombre %}
                            <input type="text" value="{{ empleado.nombre}}" class="input-personalized" name="nombre" id="nombre" > 
                        {% else %}
                            <input type="text" name="nombre" id="nombre" class="input-personalized"> 
                        {% endif %}
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-sm-6">
                        <label class="col-md-12 col-sm-12 col-xs-12">Fecha de nacimiento</label>
                        <select class="col-md-2 col-sm-7 col-xs-7 fecha-nacimiento-dia" name="day" id="day">
                            {% if empleado.fecha_nacimiento %}
                                <option id="day" name="day" value={{usuarioDia}} >{{ usuarioDia }}</option>
                            {% endif %}
                            <option id="day" name="day" value="01">01</option>
                            <option id="day" name="day" value="02">02</option>
                            <option id="day" name="day" value="03">03</option>
                            <option id="day" name="day" value="04">04</option>
                            <option id="day" name="day" value="05">05</option>
                            <option id="day" name="day" value="06">06</option>
                            <option id="day" name="day" value="07">07</option>
                            <option id="day" name="day" value="08">08</option>
                            <option id="day" name="day" value="09">09</option>
                            <option id="day" name="day" value="10">10</option>
                            <option id="day" name="day" value="11">11</option>
                            <option id="day" name="day" value="12">12</option>
                            <option id="day" name="day" value="13">13</option>
                            <option id="day" name="day" value="14">14</option>
                            <option id="day" name="day" value="15">15</option>
                            <option id="day" name="day" value="16">16</option>
                            <option id="day" name="day" value="17">17</option>
                            <option id="day" name="day" value="18">18</option>
                            <option id="day" name="day" value="19">19</option>
                            <option id="day" name="day" value="20">20</option>
                            <option id="day" name="day" value="21">21</option>
                            <option id="day" name="day" value="22">22</option>
                            <option id="day" name="day" value="23">23</option>
                            <option id="day" name="day" value="24">24</option>
                            <option id="day" name="day" value="25">25</option>
                            <option id="day" name="day" value="26">26</option>
                            <option id="day" name="day" value="27">29</option>
                            <option id="day" name="day" value="28">28</option>
                            <option id="day" name="day" value="29">29</option>
                            <option id="day" name="day" value="30">30</option>
                            <option id="day" name="day" value="31">31</option>    
                        </select>
                        <select class="col-md-4 col-sm-7 col-xs-7 fecha-nacimiento" name="month" id="month">
                            {% if empleado.fecha_nacimiento %}
                                <option id="month" name="month" value={{usuarioMes}} >{{ usuarioMes }}</option>
                            {% endif %}
                            <option id="month" name="month" value="01">Enero</option>
                            <option id="month" name="month" value="02">Febrero</option>
                            <option id="month" name="month" value="03">Marzo</option>
                            <option id="month" name="month" value="04">Abril</option>
                            <option id="month" name="month" value="05">Mayo</option>
                            <option id="month" name="month" value="06">Junio</option>
                            <option id="month" name="month" value="07">Julio</option>
                            <option id="month" name="month" value="08">Agosto</option>
                            <option id="month" name="month" value="09">Septiembre</option>
                            <option id="month" name="month" value="10">Octubre</option>
                            <option id="month" name="month" value="11">Noviembre</option>
                            <option id="month" name="month" value="12">Diciembre</option>
                        </select>
                        <select class="col-md-3 col-sm-7 col-xs-7 fecha-nacimiento" name="year" id="year">
                            {% if empleado.fecha_nacimiento %}
                                <option id="year" name="year" value={{usuarioYear}} >{{ usuarioYear }}</option>
                            {% endif %}
                            {% for year in years %}
                                    <option id="year" name="year" value="{{ year }}">{{ year }}</option>
                                {% endfor %}
                        </select>
                    </div>
                </fieldset>

                <fieldset class="fieldset">
                    <div class="form-group col-md-6">
                        <label>Puesto</label>
                        <input type="text" value="{{ empleado.puesto }}"
                        name="puesto" id="puesto" class="input-personalized">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Teléfono</label>
                        <input type="text" value="{{ empleado.telefono }}" placeholder="(656) 000-00-00"
                        name="telefono" id="telefono" class="input-personalized">
                    </div>
                </fieldset>
                
                <fieldset class="fieldset">
                    <div class="form-group col-md-6">
                        <label>Correo electrónico</label>
                        <input type="text" name="correo" id="correo" value="{{ empleado.correo }}" class="input-personalized">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Dirección</label>
                        <input type="text" value="{{ empleado.direccion }}" name="direccion" id="direccion" class="input-personalized">
                    </div>
                </fieldset>

                <div class="form-group">
                    <div class="col-md-12">
                            {% if empleado.nombre %}
                                <button type="submit" onclick="set_empty_values()" class="btn btn-success col-md-4">Actualizar información</button>
                            {% else %}
                                <button type="submit" onclick="set_empty_values()" class="btn btn-success col-md-4">Agregar empleado</button>
                            {% endif %}
                        <br>
                        <br>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
    <!-- ************************************ JS ************************************** -->
    <script>
        function set_empty_values() {
            nombre = document.getElementById('nombre');
            fecha_nacimiento = document.getElementById('datepickerf');
            puesto = document.getElementById('puesto');
            telefono = document.getElementById('telefono');
            correo = document.getElementById('correo');
            direccion = document.getElementById('direccion');

            console.log('nombre ' + nombre.value);
            console.log('fecha_nacimiento ' + fecha_nacimiento.value);
            console.log('puesto' + puesto.value);
            console.log('telefono ' + telefono.value);
            console.log('correo ' + correo.value);
            console.log('direccion' + direccion.value);


            if (nombre.value == "") {
                alert('el campo nombre es requerido');
                nombre.value = "";
            }
            if (fecha_nacimiento == undefined) {
                alert('el campo fecha de nacimiento es requerido');
                fecha_nacimiento.value = "2018-01-18";
            }
            if (puesto.value == "") {
                puesto.value = "---";
            }
            if (telefono.value == "") {
                telefono.value = "No registrado";
            }
            if (correo.value == "") {
                correo.value = "---";
            }
            if (direccion.value == "") {
                direccion.value = "---";
            }
        }
    </script> 

{% endblock %} 