{% extends "base.html" %}
{% block title %}ADEL | empleados {% endblock %}
{% load staticfiles %} 

{% block body %}

 <div class = "header">
        <p class="header_text">Empleados actuales ( {{ total_empleados }} )</p>
    </div>

<!-- herramientas de menu -->
<section class="seccion_fondo">
  <section class="herramientas_menu">      
    <form method=post>
    {% csrf_token %}
      <!-- barra de busqueda -->
      <div class="seccion_busqueda">   
        <span><b>Buscar algun registro</b> </span>
        <input type="text" id="myInput" onkeyup="myFunction()" name="empleado" 
        placeholder="buscar" class="search_busqueda">
      </div>
      
      <!-- Seccion botones -->
      <div class="seccion_agregar_nuevo">
        <a class="btn_busqueda">
          <input type="submit" name="link_add_gasto" 
          class="btn_agregar_elemento_agenda btn_busqueda" value="Buscar"/>
        </a>
        <a href="/registro.empleado" class="btn_naranja_main">
          <input type="button" name="link_add_gasto" 
          class="btn_naranja" value="Agregar un empleado"/>
        </a>
      </div>
    </form>
  </section>
<hr>
<!-- tabla de datos -->

  <table>
     <thead class="columna">
          <th>Nombre</th>
          <th>puesto</th>
          <th>telefono</th>
          <th>Detalles</th>
          <th>Edicion</th>
     </thead>
     {% for empleado in empleados %}
     <tbody class="contenido" id="contenido">
          <td>{{ empleado.nombres }} {{ empleado.apellidos }}</td>
          <td>{{ empleado.puesto }}</td>
          <td>{{ empleado.telefono }}</td>
          <td>
               <a href="{{ empleado.url_ver_empleado }}">Ver</a>
          </td>
          <td>
               <a href="{{ empleado.url_editar_empleado }}">Editar</a>
          </td>
     </tbody>
     {% endfor %}
     </table>
     <br><br>
</section>

{% endblock %}


