{% extends "base.html" %}
{% block title %}ADEL | Empleados {% endblock %}
{% load staticfiles %}

{% block body %}
<div class = "header">
        <p class="header_text">Informacion de {{ object.nombres }} {{ object.apellidos }}</p>
</div>
<section class="empleado_detalles">
	<section class="empleado_detalles_informacion">
	<br>
	<table>
			<tr>
				<td><b>Puesto</b></td>
				<td>{{ object.puesto }}</td>
			</tr>
			<tr>
				<td><b>Telefono</b></td>						
				<td>{{ object.telefono }}</td>
			</tr>
			<tr>
				<td><b>Correo</b></td>
				<td>{{ object.correo }}</td>
			</tr>
			<tr>	
				<td><b>Direccion</b></td>
				<td>{{ object.direccion }}</td>
			</tr>
				<td><b>Fecha de inicio</b></td>
				<td>{{ object.fecha_inicio }}</td>
			</tr>
		</table>

	</section>
	<a href="/lista.empleados">
		<input type="button" value="volver a lista de empleados" 
		class="btn_volver btn_volver_detalle">
	</a>
</section>	
{% endblock %}