{% extends "base.html" %}
{% block title %}ADEL | empleados {% endblock %}
{% load staticfiles %}

{% block body %}
<div class = "header">
        <p class="header_text">Informacion de {{ object.nombres }}</p>
</div>
<section class="empleado_detalles">
	<section class="empleado_detalles_informacion">
		<p class="empleado_detalles_header">Datos generales</p>
			<span><b>Nombre</b> {{ object.nombres }}  {{ object.apellidos }}</span><br>
			<span><b>Puesto</b> {{ object.puesto }}</span><br>
			<span><b>Telefono</b> {{ object.telefono }}</span><br>
			<span><b>Correo</b> {{ object.correo }}</span><br>
			<span><b>Direccion</b> {{ object.direccion }}</span><br>
			<span><b>Fecha de inicio</b> {{ object.fecha_inicio }}</span>
	</section>
	<section class="empleado_detalles_visitas">
		<p class="empleado_detalles_header">Visitas registradas</p>
			<span><b>Visita 1 </b>{{ object.fecha_inicio}}</span><br>
			<span><b>Visita 1 </b>{{ object.fecha_inicio}}</span><br>
			<span><b>Visita 1 </b>{{ object.fecha_inicio}}</span><br>
			<span><b>Visita 2 </b>{{ object.fecha_inicio}}</span><br>
			<span><b>Visita 3 </b>{{ object.fecha_inicio}}</span><br>
			<span><b>Visita 4 </b>{{ object.fecha_inicio}}</span><br>
	</section>
	<br><br>
</section>	
{% endblock %}