{% extends "base.html" %}
{% block title %}ADEL | Empleados {% endblock %}
{% load staticfiles %}

{% block body %}
<div class = "header">
        <p class="header_text">Informacion de {{ object.nombres }} {{ object.apellidos }}</p>
</div>
<section class="empleado_detalles">
	<section class="empleado_detalles_informacion">
	<br><br>
			<table class="tbl_empleado_detalle">
				<thead>
					<th></th>
					<th></th>
				</thead>
				<tbody>
					<tr>	
						<td>Puesto</td>
						<td>{{ object.puesto }}</td>
					</tr>
					<tr>
						<td>Telefono</td>						
						<td>{{ object.telefono }}</td>
					</tr>
					<tr>
						<td>Correo</td>
						<td>{{ object.correo }}</td>
					</tr>
					<tr>	
						<td>Direccion</td>
						<td>{{ object.direccion }}</td>
					</tr>
					<tr>
						<td>Direccion</td>
						<td>{{ object.direccion }}</td>
					</tr>
						<td>Fecha de inicio</td>
						<td>{{ object.fecha_inicio }}</td>
					</tr>
					<th></th>
					<th></th>
				</tbody>
			</table>
	</section>
	<a href="/lista.empleados">
		<input type="button" value="volver a lista de proveedores" class="btn_volver btn_volver_main">
	</a>
</section>	
{% endblock %}