{% extends "base.html" %}
{% block title %}ADEL | Empleados {% endblock %}

{% block body %}
{% load staticfiles %}
<meta charset="utf-8">

<!-- ************************************  HELPER ************************************ -->
<div class="container thumbnail helper">
  <div class="col-md-2 volver">
    <a href="../"><label class="glyphicon glyphicon-chevron-left"></label>&nbsp;Volver</a>
  </div>
  <div class="col-md-9 bs-header-text helper-text">
    <label>empleados actuales <label class="total">{{ total }}</label>
  </div>
  <div class="helper-img col-md-1">
    <img src="{% static 'img/iconos/empleados40.png' %}"  class="helper-img" alt="ups">
  </div>
</div>

<section class="container thumbnail grid">
  <!-- ************************************  FORM ************************************ -->
    <section>
      <form method=post class="container-fluid grid-elements">
        {% csrf_token %}
        <div class="col-md-8">
          <input type="text" id="myInput" name="empleado" placeholder="Búsqueda por nombre" class="input-personalized"/>
        </div> 
        <div class="col-md-2">
          <a>
            <input type="submit" class="btn btn-default" value="Buscar"/>
          </a>
        </div>
        <div class="col-md-2">
          <a href="/registro.empleado">
            <input type="button" class="btn btn-success" value="+ Agregar empleado"/>
          </a>
        </div>
      </form> 
    </section>
  <hr>

  <!-- *********************************** grid *********************************** -->

{% if mensaje != "" %}
  <div class="empty_query_result">{{ mensaje }}</div>
{% endif %}

  <div class="table-responsive grid-table">  
    <table class="table tbl_main">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Teléfono</th>
          <th scope="col">Correo electrónico</th>
          <th scope="col">Información</th>
          <th scope="col">Edición</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      {% for empleado in empleados %}
      <tbody>
        <tr>
          <td scope="row">{{ empleado.nombre }}</td>
          <td>{{ empleado.telefono }}</td>
          <td>{{ empleado.correo }}</td>
          <td>
            <a type="button" data-toggle="modal" data-target="#modal-ver" 
            onclick="open_modal('{{ empleado.nombre }}','{{ empleado.puesto }}','{{ empleado.telefono }}',
              '{{ empleado.correo }}','{{empleado.direccion }}','{{ empleado.fecha_nacimiento }}',
              '{{ empleado.fecha_inicio }}')"> <label class="glyphicon glyphicon-search" ></label> Ver
            </a>
          </td>
          <td>
            <a href="{{ empleado.url_editar_empleado }}"> <label class="glyphicon glyphicon-pencil"></label> Editar</a>
          </td>
          <td>
            <a data-toggle="modal" data-target="#modal-borrar" 
            onclick="open_modal_borrar('{{ empleado.nombre }}')"> <label class="glyphicon glyphicon-trash"></label> Borrar</a>
          </td>
        </tr>
      </tbody>
      {% endfor %}
    </table>
  </div>
</section>
</section>

<!-- *********************************** modal ver *********************************** -->  

<div class="modal fade" id="modal-ver" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <form class="modal-content" method=post>
        <div class="modal-header" style="background-color: #dbdbdb; border-bottom: 1px solid rgb(151, 151, 151);" >
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">
            <img src="{% static 'img/iconos/empleados40.png' %}" alt="x">
            <label id="textoNombre" style="text-align: center;"></label> 
          </h4>
        </div>
        <div class="modal-body" style="height:220px;">
          <div class="col-md-12">
            <label class="col-md-4">Puesto</label>
            <label class="col-md-8" id="textoPuesto"></label>
          </div>
          <div class="col-md-12">
            <label class="col-md-4">Teléfono</label>
            <label class="col-md-8" id="textoTelefono"></label>
          </div>
          <div class="col-md-12">
            <label class="col-md-4">Correo</label>
            <label class="col-md-8" id="textoCorreo"></label>
          </div>
          <div class="col-md-12">
            <label class="col-md-4">Dirección</label>
            <label class="col-md-8" id="textoDireccion"></label>
          </div>
          <div class="col-md-12">
              <label class="col-md-4">Fecha de nacimiento</label>
              <label class="col-md-8" id="textoFecha_nacimiento"></label>
          </div>
          <div class="col-md-12">
              <label class="col-md-4">Fecha de inicio</label>
              <label class="col-md-8" id="textoFecha"></label>
          </div>
        </div>
    </div>
  </div>
  


<!-- *********************************** modal borrar *********************************** -->

<div class="modal fade" id="modal-borrar" tabindex="1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <form class="modal-content" method=post>
        <div class="modal-header" style="background-color: #dbdbdb; border-bottom: 1px solid rgb(151, 151, 151);" >
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">
            <img src="{% static 'img/iconos/empleados40.png' %}" alt="x">
            <label style="text-align: center;">Confirmación</label> 
          </h4>
        </div>
        <div class="modal-body" style="height:150px; background-color: white;">
          <h3 style="text-align: center;">¿Estas seguro de eliminar este empleado<br>
            <b id="textoBorrar"></b>?
          </h3>
        </div>
        <div class="modal-footer" style="background-color: white;">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-danger">Eliminar</button>
        </div>
    </div>
  </div>

  <!-- *********************************** script modal *********************************** -->
<script>
  var modal = document.getElementById('myModal');
  var content_nombre = document.getElementById('textoNombre');
  var content_puesto = document.getElementById('textoPuesto');
  var content_telefono = document.getElementById('textoTelefono');
  var content_correo = document.getElementById('textoCorreo');
  var content_direccion = document.getElementById('textoDireccion');
  var content_fecha_nacimiento = document.getElementById('textoFecha_nacimiento');
  var content_fecha = document.getElementById('textoFecha');
  var content_borrar = document.getElementById('textoBorrar');

  var close = document.getElementsByClassName("btn-modal-close")[0];

  function open_modal(nombre, puesto, telefono, correo, direccion, fecha_nacimiento, fecha) { 
    content_nombre.innerHTML = nombre;
    content_puesto.innerHTML = puesto;
    content_telefono.innerHTML = telefono;
    content_correo.innerHTML = correo;
    content_direccion.innerHTML =  direccion;
    content_fecha_nacimiento.innerHTML = fecha_nacimiento;
    content_fecha.innerHTML = fecha;
  }

  function open_modal_borrar(empleado) {
    content_borrar.innerHTML = empleado;
  }

</script>

{% endblock %}



