.seccion_fondo{	
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 95%;
    margin-left: 2em;
}
.herramientas_menu{
	margin-bottom: 2%;
	padding-top: 2%;
}
.seccion_busqueda{
	width: 40%;
	display: inline;
	float:lef;
}
.seccion_agregar_nuevo{
	width: 40%;
	display: inline;
	float:right;
}
.btn_agregar_elemento{
	width: 75%;
	margin-left: 18%;
}
.titulo{
		text-align: center;
}
table{
	width: 95%; 
	border: 1px solid black;
	margin-left: 2em;
}
.columna{
	border: 1px solid black;
}
	th{
		background-color: #AAAAAA;
		text-align: center;
	}
.contenido{
	text-align: center;
}
.total_gastos{
	font-size: 18px;
	font-family: roboto;
	color: #009302;
}
