
.seccion_movimientos_general{
	margin: 1em;
	display: inline-block;
}
.seccion_ingresos{
	width: 1200px;
	margin-left: -2em;
}
.th_ingresos{
	text-align: left;
}
.seccion_egresos{
	width: 1200px;
	margin-left: -2em;
}

.th_egresos{
	text-align: left;
}

.total_movimientos{
	width: 95%;
	margin: 2em;
	box-shadow: 0 4px 4px 0 rgba(0,8,0,0.2);
	border: 1px solid black;
}
.span_ingresos{
	font-size: 18px;
	font-weight: bold;
	color: #009302;
	margin-left: 2em;
}
.span_egresos{
	font-size: 18px;
	font-weight: bold;
	color: #F50000;	
	margin-left: 2em;
}
.td_ingresos{
	border: 1px solid black;
}
.span_diferencia{ 
	font-size: 18px;
	font-weight: bold;
	margin-left: 2em;
}
.seccion_fondo_fechas{
	width: 95%;
	margin: 2em;
}
.seccion_fondo_fechas>form>div{
	width: 25%;
	display: inline-block;
}
.seccion_fondo_fechas>form>div>input{
	width: 150px;
}
/*----------------------------------------- resumen ----------------------------------------------------------*/
.seccion_movimientos_resumen{
	margin-left: 2%;
	display: inline-block;
	width: 40%;
	border: 1px solid #777777;
	box-shadow: 0 4px 4px 0 rgba(0,8,0,0.2);
	margin-bottom: 2%;
}
.resumen_p{
	background-color: #333333;
	font-size: 16px;
	text-align: center;
	color: white;
}
.seccion_movimientos_resumen_pesos{
	width: 45%;
	display: inline-block;
}
.seccion_movimientos_resumen_dolares{
	width: 45%;
	display: inline-block;	
}
.span_totales{
	margin-left: -2px;
}

