.movimientos-card {
	width: 70%;
	margin: auto;
	margin-bottom: 3em;
}
.movimientos-card > div {
	padding: 1em;
}

.resumen-header {
	background-color: #008cba;
	font-size: 24px;
	text-align: center;
	color: white;
	padding: 10px;
}


.resumen-p {
	background-color: #9c9c9c;
	font-size: 20px;
	text-align: center;
	color: white;
	width: 100%;
}


.ingresos-div {
	color: rgb(27, 134, 0);
	font-size: 18px;
	font-weight: bold;
}

.egresos-div {
	color: rgb(194, 0, 0);
	font-size: 18px;
	font-weight: bold;
}

.diferencia-div{
	text-align: center;
	margin: 10px;
	font-size: 20px;
	font-weight: bold;
}

@media screen and (max-width: 1000px) {
	.movimientos-card {
		width: 90%;
	}
}