{% extends "base.html" %}
{% block title %}ADEL | eliminar visita {% endblock %}

{% block body %}

<section class="seccion_eliminar">
	<form method=post>
		{% csrf_token %}
		{% for visita in visita %}
		<span class="p_confirmacion" style="margin-left:25%">¿Estás seguro de eliminar esta visita?</span><br><br>
		<p><b>Paciente</b></p>
		<p>{{ visita.paciente }}</p>
		<p><b>Fecha</b></p>
		<p>{{ visita.fecha_visita }}</p>
		<p><b>Motivo</b></p>
		<p>{{ visita.motivo }}</p><br>
		{% endfor %}
		<input type="submit" value="confirmar" class="btn_confirmar">
		<a href="/lista.visitas">
			<input type="button" value="cancelar" class="btn_volver"><br><br>
		</a>
	</form>
</section>	
{% endblock %}