{% extends "base.html" %}
{% block title %}ADEL | Visitas {% endblock %}
{% load staticfiles %}

{% block body %}
<div class = "header">
		{% for visita in visitas %}
        <p class="header_text">Visita de {{ visita.paciente }}</p>
</div>
<section class="empleado_detalles">
	<section class="empleado_detalles_informacion">
		<br><br>
			<table class="tbl_empleado_detalle">
				<thead>
					<th></th>
					<th></th>
				</thead>
				<tbody>
					<tr>	
						<td>Paciente</td>
						<td>{{ visita.paciente }}</td>
					</tr>
					<tr>
						<td>Fecha visita</td>						
						<td>{{ visita.fecha_visita }}</td>
					</tr>
					<tr>
						<td>Motivo</td>
						<td>{{ visita.motivo }}</td>
					</tr>
					<tr>	
						<td>Dentista</td>
						<td>{{ visita.dentista }}</td>
					</tr>
					<tr>
						<td>Precio</td>
						<td>{{ visita.precio }} {{ visita.dolares }}</td>
					</tr>
					<th></th>
					<th></th>
				</tbody>
			</table>
	</section>
	{% endfor %}
	<a href="/lista.visitas" class="btn_volver_detalle">
		<input type="button" value="volver a lista de visitas" class="btn_volver btn_volver_detalle">
	</a>
</section>	
{% endblock %}