{% extends "base.html" %}
{% block title %}ADEL | Visitas {% endblock %}
{% load staticfiles %}

{% block body %}
 
<div class = "header">
  <p class="header_text">Visitas actuales ({{ total_visitas }})</p>
</div>

 <!-- herramientas de menu -->
<section class="seccion_fondo">
  <section class="herramientas_menu">      
    <form method=post>
    {% csrf_token %}
      <!-- barra de busqueda -->
      <div class="seccion_busqueda">   
        <span><b>Buscar</b> </span>
        <input type="text" id="myInput" onkeyup="myFunction()" name="visita" 
        placeholder="buscar" class="search_busqueda_agenda">
        <span><b>Fecha inicial</b> </span>
        <input type="text" id="datepicker" name="fecha_inicial" 
        placeholder="buscar" class="search_busqueda_fecha_inicial" value="{{ fecha_inicial }}">
        <span><b>Fecha final</b> </span>
        <input type="text" id="datepickerf" name="fecha_final" 
        placeholder="buscar" class="search_busqueda_fecha_final" value="{{ fecha_final }}">
      </div>
      
      <!-- Seccion botones -->
      <div class="seccion_agregar_nuevo_agenda">
        <a class="btn_busqueda">
          <input type="submit" name="link_add_gasto" 
          class="btn_agregar_elemento_agenda btn_busqueda" value="Buscar"/>
        </a>
        <a href="/registro.visita" class="btn_naranja_main">
          <input type="button" name="link_add_gasto" 
          class="btn_naranja" value="Agregar una visita"/>
        </a>
      </div>
    </form>
  </section>
<hr>
<!-- tabla de datos -->
  <section>
   <table>
     <thead class="columna">
          <th>Paciente</th>
          <th>Motivo</th>
          <th>Fecha</th>
          <th>Informacion</th>
          <th>Edicion</th>
     </thead>
      {% for visita in visitas %}
     <tbody class="contenido">
          <td>{{ visita.paciente }}</td>
          <td>{{ visita.motivo }}</td>
          <td>{{ visita.fecha_visita }}</td>
          <td><a href="{{ visita.url_ver_visitas }}" class="glyphicon glyphicon-search"> Ver</a></td>
          <td><a href="{{ visita.url_editar_visitas }}" class="glyphicon glyphicon-pencil"> Editar</a></td>
     </tbody>
     {% endfor %}
    </table>
    <br><br>
  </section>
</section>

<script>
$(function () {
$.datepicker.setDefaults($.datepicker.regional["es"]);
$("#datepicker").datepicker({
firstDay: 1,
monthNames: ['Enero', 'Febrero', 'Marzo','Abril', 'Mayo','Junio',
'Julio','Agosto','Septiempbre','Octubre','Noviembre','Diciembre'],
dayNamesMin: ['Dom','Lun','Mar','Mier','Jue','Vier','Sab'],
dateFormat: 'yy-mm-dd',
timeFormat:  "hh:mm:ss"
});
});
</script>

<script>
$(function () {
$.datepicker.setDefaults($.datepicker.regional["es"]);
$("#datepickerf").datepicker({
firstDay: 1,
monthNames: ['Enero', 'Febrero', 'Marzo','Abril', 'Mayo','Junio',
'Julio','Agosto','Septiempbre','Octubre','Noviembre','Diciembre'],
dayNamesMin: ['Dom','Lun','Mar','Mier','Jue','Vier','Sab'],
dateFormat: 'yy-mm-dd',
timeFormat:  "hh:mm:ss"
});
});
</script>
{% endblock %}


