{% extends "base.html" %}
{% block title %}ADEL | Visitas {% endblock %}
{% load staticfiles %}

{% block body %}
 
<div class = "header">
  <p class="header_text">Visitas actuales | {{ total_visitas }} </p>
</div>

<section class="seccion_fondo">
  <!-- *********************************** barra de busqueda *********************************** -->
  <section class="herramientas_menu">      
    <form method=post>
    {% csrf_token %}
      <div class="seccion_busqueda">   
        <span><b>Buscar</b></span>
        
        <input type="text" id="myInput" name="visita" 
        placeholder="nombre o motivo" class="search_busqueda"/>
        
        <input type="text" id="datepicker" name="fecha_inicial" onclick="clear_text()" 
        placeholder="fecha inicial" class="search_busqueda_fecha_inicial"/>

        <input type="text" id="datepickerf" name="fecha_final" onclick="clear_textf()" 
        placeholder="fecha final" class="search_busqueda_fecha_final"/>


      <!-- Seccion botones -->
        <a class="">
          <input type="submit" name="link_add_gasto" 
          class="btn_busqueda" value="Buscar"/>
        </a>
        <a href="/registro.visita">
          <input type="button" name="link_add_gasto" 
          class="btn_agregar_elemento" value=" Agregar una visita"/>
        </a>
      </div>

    </form>
  </section>
<hr>
<!-- tabla de datos -->
  <section class="tbl_visitas">
   <table>
     <thead class="columna">
          <th style="width: 15%;">Paciente</th>
          <th style="width: 25%;">Motivo</th>
          <th style="width: 20%;">Fecha</th>
          <th style="width: 5%;">Informacion</th>
          <th style="width: 6%;">Edicion</th>
          <th style="width: 7%;">Acciones</th>
     </thead>
      {% for visita in visitas %}
     <tbody class="contenido">
          <td style="width: 15%;">{{ visita.paciente }}</td>
          <td style="width: 25%;">{{ visita.motivo }}</td>
          <td style="width: 20%;">{{ visita.fecha_visita }}</td>
          <td style="width: 6%;">
            <a href="{{ visita.url_ver_visitas }}" class="glyphicon glyphicon-search"> Ver</a></td>
          <td style="width: 7%;">
            <a href="{{ visita.url_editar_visitas }}" class="glyphicon glyphicon-pencil"> Editar</a>
          </td>
          <td style="width: 7%;">
            <a href="{{ visita.url_borrar_visitas }}" class="glyphicon glyphicon-trash"> Borrar</a>
          </td>
     </tbody>
     {% endfor %}
    </table>
    <br><br>
  </section>
</section>


<script>
function clear_text() { 
    document.getElementById('datepicker').placeholder = "";
}
function clear_textf() { 
    document.getElementById('datepickerf').placeholder = "";
}

$(function () {
  $.datepicker.setDefaults($.datepicker.regional["es"]);
  $("#datepicker").datepicker({
    firstDay: 1,
    monthNames: ['Enero', 'Febrero', 'Marzo','Abril', 'Mayo','Junio',
    'Julio','Agosto','Septiempbre','Octubre','Noviembre','Diciembre'],
    dayNamesMin: ['Dom','Lun','Mar','Mier','Jue','Vier','Sab'],
    dateFormat: 'yy-mm-dd',
    timeFormat:  "hh:mm:ss"
    });
  });
</script>

<script>
  $(function () {
  $.datepicker.setDefaults($.datepicker.regional["es"]);
  $("#datepickerf").datepicker({
    firstDay: 1,
    monthNames: ['Enero', 'Febrero', 'Marzo','Abril', 'Mayo','Junio',
    'Julio','Agosto','Septiempbre','Octubre','Noviembre','Diciembre'],
    dayNamesMin: ['Dom','Lun','Mar','Mier','Jue','Vier','Sab'],
    dateFormat: 'yy-mm-dd',
    timeFormat:  "hh:mm:ss"
    });
  });
</script>

{% endblock %}


