{% extends "base.html" %}
{% block title %}ADEL | Visitas {% endblock %}
{% load staticfiles %}

{% block body %}
 
<div class = "header">
  <p class="header_text">Visitas actuales ({{ total_visitas }})</p>
</div>

 <!-- herramientas de menu -->
<section class="seccion_fondo">
  <section class="herramientas_menu">      
    <form method=post>
    {% csrf_token %}
      <!-- barra de busqueda -->
      <div class="seccion_busqueda">   
        <span><b>Buscar algun registro</b> </span>
        <input type="text" id="myInput" onkeyup="myFunction()" name="visita" 
        placeholder="buscar" class="search_busqueda">
      </div>
      
      <!-- Seccion botones -->
      <div class="seccion_agregar_nuevo">
        <a class="btn_busqueda">
          <input type="submit" name="link_add_gasto" 
          class="btn_agregar_elemento_agenda btn_busqueda" value="Buscar"/>
        </a>
        <a href="/registro.visita" class="btn_naranja_main">
          <input type="button" name="link_add_gasto" 
          class="btn_naranja" value="Agregar una visita"/>
        </a>
      </div>
    </form>
  </section>
<hr>
<!-- tabla de datos -->
  <section>
   <table>
     <thead class="columna">
          <th>Paciente</th>
          <th>Motivo</th>
          <th>Informacion</th>
          <th>Edicion</th>
     </thead>
      {% for visita in visitas %}
     <tbody class="contenido">
          <td>{{ visita.paciente }}</td>
          <td>{{ visita.motivo }}</td>
          <td><a href="{{ visita.url_ver_visitas }}">Ver</a></td>
          <td><a href="{{ visita.url_editar_visitas }}">Editar</a></td>
     </tbody>
     {% endfor %}
    </table>
    <br><br>
  </section>
</section>
{% endblock %}


