.visitas_detalles{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 95%;
    margin-left: 2em;
}

.visitas_detalles_informacion{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border: 1px solid black;
    margin-left: 1em;
}	
	span{
		margin-left: 2em;
		margin-bottom: 2em;
	}
.visitas_detalles_visitas{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border: 1px solid black;
    margin-top: 2em;
    margin-left: 1em;
}
	h4{
		margin-left: 1em;
	}
	span{
		margin-left: 2em;
		margin-bottom: 2em;
	}

.visitas_detalles_header{
	text-align: center;
	font-size: 24px;
}
