.titulo{
		text-align: center;
}
table{
	width: 95%; 
	border: 1px solid black;
	margin-left: 2em;
}
.search_input_visitas{
	margin-left: 2em;
	margin-bottom: 2em;
}
.columna{
	border: 1px solid black;
}
	th{
		background-color: #AAAAAA;
		text-align: center;
	}
.contenido{
	text-align:center;
}
.btn_agregar_visita{
	margin-left: 2em;
	margin-top: 2em;
	width: 25%;
}