.navegacion-main {
	background-color:  #008cba;
	margin-bottom: 15px;
}

.adel {
	text-align: center;
	color: white;
}

.adel-text {
	font-size: 25px;
	font-weight: 900;
}

.adel-logout { 
	font-size: 16px;
	font-weight: 700;
	margin-top: 10px;
}

.adel-logout > a {
	color: white;
}


/* --------------------------------------------- main-section --------------------------------------------- */

.main-section {
	border-bottom: 1px solid #b8b8b8;
	background-color: #F7F7F7;
	margin-bottom: 20px;
}

.module {
	box-shadow: 1px 4px 5px #b4b4b4;
	margin-bottom: 20px;
	border-radius: 3px;
	height: 15rem;
	background-color:white;
	text-align:center;
	width:22%;
	margin-left: 3%;
}

.card-title {
	color: #008cba;
	font-size: 20px;
}
.card-img-top{
	max-height: 100px;
	max-width: 15rem;
}


/* --------------------------------------------- resumen --------------------------------------------- */
.div-resumen {
	position: initial !important;
}

.resumen-body{
	height:450px;  
}

.tbl-resumen {
	height: 400px;
}

.resumen {
	background-color: white;
	box-shadow: 1px 4px 5px #b4b4b4;
	margin-left: 6%;
}

.tbl-resumen-tr > th {
	color: #008cba;
	text-align: center;
}

.resumen-header {
	text-align: center;
	padding: 5px;
	background-color: white;
	color: #008cba;
	font-size: 20px;
	font-weight: bold;
	border-bottom: 1px solid rgb(179, 179, 179);
} 


@media screen and (max-width: 1000px) {
	.resumen {
		width: 90%;
		margin-bottom: 20px;
	}
	.img-adel {
		display: none;
	}

}

@media screen and (max-width: 770px) {
	.div-resumen {
		display: none;
	}
	.module{
		width: auto;
		margin-left: 0%;
	}
}

