.navegacion-main {
	background-color:  #008cba;
	margin-bottom: 10px;
}

.adel {
	text-align: center;
	color: white;
}

.adel-text {
	font-size: 25px;
	font-weight: 900;
}

.adel-logout { 
	font-size: 16px;
	font-weight: 700;
	margin-top: 10px;
}

.adel-logout > a {
	color: white;
}


/* --------------------------------------------- main-section --------------------------------------------- */

.main-section {
	border-bottom: 1px solid #b8b8b8;
	background-color: #F7F7F7;
}

.module {
	border: 1px solid rgb(156, 156, 156);
	width: 14rem;
	height: 15rem;
	margin-left:13px;
	margin-top: 15px;
	margin-bottom: 15px;
	border-radius: 3px;
	background-color:white;
	text-align:center;
}

.card-title {
	color: #008cba;
	font-size: 20px;
}
.card-img-top{
	max-height: 100px;
	max-width: 13rem;
}


/* --------------------------------------------- resumen --------------------------------------------- */
.div-resumen {
	margin-top: 15px;
}

.resumen-body{
	height: 410px;
}

.tbl-resumen {
	height: 400px;
}

.resumen {
	background-color: white;
	margin-left: 5%;
	border: 1px solid rgb(195, 195, 195);
	border-radius: 3px;
	/* box-shadow: 1px 5px 8px rgb(99, 99, 99); */
}

.tbl-resumen-tr > th {
	color: #008cba;
	text-align: center;
}

.resumen-header {
	text-align: center;
	padding: 5px;
	background-color: white;
	color: #008cba;
	font-size: 20px;
	font-weight: bold;
	border-bottom: 1px solid rgb(179, 179, 179);
}


@media screen and (min-width: 1500px) {
	.module {
		margin-left: 90px;
	}
}

@media screen and (max-width: 1100px) {
	.module {
		margin-left: 40px;
	}
}


@media screen and (max-width: 1000px) {
	.div-resumen {
		display: none;
	}
	.module {
		margin-left: 50px;
		width: 300px;
	}
	.img-adel {
		display: none;
	}

}

