/*---------------------------- base ------------------------*/
.container_menu{
	background-color: #00A4DB;
	border: 1px solid black;
	display: inline;
	padding: 20px 0px;
	
}
.menu_logo{
	width: 15%;
	display: inline-block;
	padding-left: 20px;
}
.menu_content{
	width: 84%;
	display: inline-block;
}
.menu_content_superior{
	display: block;
	background-color: red;
}
.menu_content_inferior{
	display: block;
}

.base_menus{
	display: inline-block;
}
.base_menus>a{
	text-align: center;
	color: white;
	}
.base_menus>a>span{
	margin-top: 10%;
	margin-bottom: 10%;
}
.base_menus>a:hover{
	color: #777777;
}
.salir{
	font-size: 16px;
	margin-top: 1%;
	margin-right: 2%;
	float: right;
}

/*---------------------------- login ------------------------*/
.fondo_menu_principal{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width:98%;
	display: inline-block;
	margin-top: 1%;
	margin-bottom: 5%;
	margin-left: 1%;
}

.card_menu_cards{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 17.3%;
	display: inline-block;
	margin: 1em;
	margin-bottom: 1em;
}
.img_menu_card_main{
	padding: 1em;
	width: 100%;
    height: auto;
}
.img_menu_cards{
	margin-left: 25%;
	width: auto;
    height: auto;
    margin-bottom: 1em;
}
.texto_menu_cards{
	text-align:center;
}
.card_menu_cards:hover {
    box-shadow: 0 8px 26px 0 rgba(0,0,0,0.2);
}
 
.p_menu_cards{
	overflow: auto;
	text-align:center;
}