.main-container{
  background-color: #008cba;
  height: 100%;
  padding: 0px;
}

/* ------------------------------------------------------------------ */
.navegacion-login {
	background-color:  #ffffff;
  width: 100%;
  text-align: center;
	border: 1px solid #bebebe;
}

.navegacion-login > label {
  font-size: 25px;
  font-weight: 300;
  color: #008cba;
}

/* ------------------------------------------------------------------ */

.login-card {
  width: 50%;
  margin: auto;
  margin-top: 5%;
  border: 1px solid rgb(102, 102, 102);
	box-shadow: 1px 5px 8px rgb(99, 99, 99);
}

.login-card-header {
  text-align: center;
  font-size: 26px;
  font-weight: 300;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

.login-card-body {
  padding-left: 4em;
  padding-bottom: 2em;
  padding-top: 2em;
  padding-right: 4em;
}

.input-login {
  height: 50px;
  width: 100%;
  background-color: rgba(238, 238, 238, 0.02);
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.36);
  -webkit-appearance: none;
  -moz-border-radius: 2px;
  box-shadow:none;
  border-radius: 2px;
  font-size: 26px;
  margin-bottom: 30px;
  }

  
.btn-login {
  background-color: rgb(15, 168, 74);
  color: white;
  height: 50px;
  width: 100%;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  font-size: 24px;
}

.login-card-footer{
  margin-bottom: 2em;
  text-align: center;
  font-size: 18px;
}
.login-card-footer > a{
  text-decoration: none;
}

