{% extends 'base.html' %}
{% block title %}ADEL | agregar proveedor {% endblock %}
{% block albums_active %} active {% endblock %}

{% block body %}
<div class = "header">
        <p class="header_text">Agregar proveedor</p>
</div>

    <form method=post>
        {% csrf_token %}
        <section class="seccion_formulario">
            <div class="seccion_1">
                <div>
                    <label>{{ form.nombre.label}}</label>
                    {{ form.nombre }}
                    <span>{{ form.nombre.errors }}</span>
                </div>
                <div>
                    <label>{{ form.contacto.label}}</label>
                    {{ form.contacto }}
                    <span>{{ form.contacto.errors }}</span>
                </div>
                <div>
                    <p><label>{{ form.telefono.label}}</label></p>
                    {{ form.telefono }}
                    <span>{{ form.telefono.errors }}</span>
                </div>
                <div>
                    <label>{{ form.correo.label}}</label>
                    {{ form.correo }}
                    <span>{{ form.correo.errors }}</span>
                </div>
            </div>
            <div class="seccion_2">
            <p></p>
                <div>
                    <label>{{ form.direccion.label}}</label>
                    {{ form.direccion }}
                    <span>{{ form.direccion.errors }}</span>
                </div>
                <div class="formulario_proveedores_producto">
                    <label>{{ form.producto.label}}</label>
                    {{ form.producto }}
                    <span>{{ form.producto.errors }}</span>
                </div>
        </div>
        <div class="seccion_botones">           
            <input class="btn_confirmar" id="save_contact" 
            type="submit" value="Registrar"/>
            <a href="/lista.proveedores" class="btn_volver">Volver a lista de proveedores</a>
        </div>
        </section>
    </form>
</div>

{% endblock %}