{% extends "base.html" %}
{% block title %}ADEL | eliminar proveedor {% endblock %}
{% load staticfiles %}

{% block body %}

<section class="seccion_eliminar">
	<form method=post>
		{% csrf_token %}
		{% for proveedor in proveedor %}
		<p class="p_confirmacion" style="margin-left: 1%;">¿Estás seguro de eliminar al proveedor {{ proveedor.nombre }} ?</p><br>
		{% endfor %}
		<input type="submit" value="confirmar" class="btn btn-danger btn_confirmar">
		<a href="/lista.proveedores">
		<input type="button" value="volver" class="btn_volver btn_volver_eliminar"><br><br>
		</a>
	</form>
</section>	
{% endblock %}