{% extends "base.html" %}
{% block title %}ADEL | Proveedores {% endblock %}
{% load staticfiles %}

{% block body %}

<div class = "header">
  <p class="header_text">Proveedores actuales | {{ total_proveedores }}</p>
</div>
<section class="seccion_fondo">
  <section class="herramientas_menu">      
    <form method=post>
    {% csrf_token %}
      <!-- barra de busqueda -->
      <div class="seccion_busqueda_2">   
        <span><b>Buscar</b> </span>
        <input type="text" id="myInput" onkeyup="myFunction()" name="proveedor" 
        placeholder="nombre o contacto" class="search_busqueda_2">
      </div>
        <a>
          <input type="submit" name="link_add_gasto" 
          class="btn_busqueda" value="Buscar"/>
        </a>
        <a href="/registro.proveedor">
          <input type="button" name="link_add_gasto" 
          class="btn_agregar_elemento_2" value="Agregar un proveedor"/>
        </a>
    </form>
  </section>
<hr>
<!-- tabla de datos -->
  <table>
     <thead class="columna">
          <th>Nombre</th>
          <th>Contacto</th>
          <th>telefono</th>
          <th>Producto</th>
          <th>Informacion</th>
          <th>Edicion</th>
          <th>Accion</th>
     </thead>
     {% for proveedor in proveedores %}
     <tbody class="contenido">
          <td>{{ proveedor.nombre }} </td>
          <td>{{ proveedor.contacto }}</td>
          <td>{{ proveedor.telefono }}</td>
          <td>{{ proveedor.telefono }}</td>
          <td>
              <a href="{{ proveedor.url_ver_proveedor }}" class="glyphicon glyphicon-search"> Ver</a>
          </td>
          <td>
               <a href="{{ proveedor.url_editar_proveedor }}" class="glyphicon glyphicon-pencil"> Editar</a>
          </td>
          <td>
               <a href="{{ proveedor.url_borrar_proveedor }}" class="glyphicon glyphicon-trash"> Borrar</a>
          </td>
     </tbody>
     {% endfor %}
 </table>
     <br><br>
</section>

{% endblock %}
