{% extends "base.html" %}
{% block title %}ADEL | proveedores {% endblock %}
{% load staticfiles %}

{% block body %}
<div class = "header">
        <p class="header_text">Informacion de {{ proveedor.nombre }}</p>
</div>
<section class="paciente_detalles" style="background-color: white;">
	<section>
		<table class="tbl_proveedor_detalle">
			<thead>
				<th></th>
				<th></th>
			</thead>
			<tbody>
				<tr>	
					<td><b>Producto</b></td>
					<td>{{ proveedor.nombre }}</td>
				</tr>
				<tr>
					<td><b>Contacto</b></td>						
					<td>{{ proveedor.contacto }}</td>
				</tr>
				<tr>
					<td><b>Telefono</b></td>
					<td>{{ proveedor.telefono }}</td>
				</tr>
				<tr>	
					<td><b>Correo</b></td>
					<td>{{ proveedor.correo }}</td>
				</tr>
				<tr>
					<td><b>Direccion</b></td>
					<td>{{ proveedor.direccion }}</td>
				</tr>
				<tr>
					<td><b>Producto</b></td>
					<td>{{ proveedor.producto }}</td>
				</tr>
				<tr>
					<td><b>Fecha de inicio</b></td>
					<td>{{ proveedor.fecha_inicio }}</td>
				</tr>
				<th></th>
				<th></th>
			</tbody>
		</table>
	</section>
	<a href="/lista.proveedores">
		<input type="button" value="volver a lista de proveedores" class="btn_volver btn_volver_detalle">
	</a>
</section>	
{% endblock %}