{% extends "base.html" %}
{% block title %}ADEL | Proveedores {% endblock %}
{% load staticfiles %}

{% block body %}

<div class = "header">
  <span class="header_text">Proveedores actuales <label>{{ total_proveedores }}</label></span>
  <img src="{% static 'img/iconos/proveedores40.png' %}" alt="ups">
</div>

<section class="seccion_fondo">
  <section class="herramientas_menu">      
    <form method=post>
    {% csrf_token %}
      <!-- barra de busqueda -->
      <div class="seccion_busqueda_2">   
        <span><b>Buscar</b> </span>
        <input type="text" id="myInput" onkeyup="myFunction()" name="proveedor" 
        placeholder="nombre o contacto" class="search_busqueda_2">
      </div>
        <a>
          <input type="submit" name="link_add_gasto" 
          class="btn_busqueda" value="Buscar"/>
        </a>
        <a href="/registro.proveedor">
          <input type="button" name="link_add_gasto" 
          class="btn_agregar_elemento_2" value="Agregar un proveedor"/>
        </a>
    </form>
  </section>
<hr>
<!-- tabla de datos -->
  <table>
     <thead class="columna">
          <th>Nombre</th>
          <th>Contacto</th>
          <th>Informacion</th>
          <th>Edicion</th>
          <th>Accion</th>
     </thead>
     {% for proveedor in proveedores %}
     <tbody class="contenido">
          <td style="width: 15%;">{{ proveedor.nombre }} </td>
          <td style="width: 35%;" >{{ proveedor.contacto }}</td>
          <td style="width: 7%;">
           <a type="button" class="glyphicon glyphicon-search" 
             onclick="open_modal('{{ proveedor.nombre }}','{{ proveedor.contacto }}','{{ proveedor.telefono }}',
             '{{ proveedor.correo }}','{{ proveedor.direccion }}','{{ proveedor.producto }}',
             '{{ proveedor.fecha_inicio }}','{{ proveedor.pk }}')"> Ver
           </a>
          </td>
          <td style="width: 7%;">
               <a href="{{ proveedor.url_editar_proveedor }}" class="glyphicon glyphicon-pencil"> Editar</a>
          </td>
          <td style="width: 7%;">
               <a href="{{ proveedor.url_borrar_proveedor }}" class="glyphicon glyphicon-trash"> Borrar</a>
          </td>
     </tbody>
     {% endfor %}
 </table>
  {% if mensaje != "" %}
     <div class="empty_query_result">{{ mensaje }}</div>
  {% endif %}
 <br><br>
</section>

<!-- *********************************** modal ver *********************************** -->  
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <p id="textoProveedor" class="modal-header-p"></p>
    </div>
    <div class="modal-body">
      <table>
        <tr>
          <td><b>Contacto</b></td>
          <td id="textoContacto"></td>
        </tr>
        <tr>
          <td><b>Telefono</b></td>
          <td id="textoTelefono"></td>
        </tr>
        <tr>
          <td><b>Correo</b></td>
          <td id="textoCorreo"></td>
        </tr>
        <tr>
          <td><b>Direccion</b></td>
          <td id="textoDireccion"></td>
        </tr>
        <tr>
          <td><b>Producto</b></td>
          <td id="textoProducto"></td>
        </tr>
        <tr>
          <td><b>Fecha de inicio</b></td>
          <td id="textoFecha"></td>
        </tr>
      </table>
    </div>
    <div class="modal-footer">
      <a href=" " id="id_editar">
        <button  class="btn btn-modal-edit">Editar</button>
      </a>
      <button class="btn btn-modal-close"> Cerrar </button>
    </div>
  </div>
</div>

<script>
  var modal = document.getElementById('myModal');
  var content_proveedor = document.getElementById('textoProveedor');
  var content_contacto = document.getElementById('textoContacto');
  var content_telefono = document.getElementById('textoTelefono');
  var content_correo = document.getElementById('textoCorreo');
  var content_direccion = document.getElementById('textoDireccion');
  var content_producto = document.getElementById('textoProducto');
  var content_fecha = document.getElementById('textoFecha');
  var content_editar = document.getElementById('id_editar');
  var close = document.getElementsByClassName("btn-modal-close")[0];

  function open_modal(proveedor, contacto, telefono, correo, direccion, producto, fecha,pk) { 
    modal.style.display = "block";
    content_proveedor.innerHTML = "Proveedor " + proveedor;
    content_contacto.innerHTML = contacto;
    content_telefono.innerHTML = telefono;
    content_correo.innerHTML = correo;
    content_direccion.innerHTML = direccion;
    content_producto.innerHTML = producto;
    content_fecha.innerHTML = fecha;
    content_editar.href = "/proveedores/editar/"+ pk;
  }

  close.onclick = function() {
      modal.style.display = "none";
  }

  window.onclick = function(event) {
      if (event.target == modal) {
          modal.style.display = "none";
      }
  }
</script>



{% endblock %}
