.seccion_formulario{
	width:97%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	border: 1px solid #999999;
	margin-bottom: 2%;
}
.seccion_1{
	width:46%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	margin-left: 2em;
	display: inline-block;
	padding: 2em;
	margin-top:2em;
}

.seccion_2{
	width:46%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	margin-bottom: 2em;	
	margin-left: 2em;	
	display: inline-block;
	padding: 2em;
}
.select_tipo_paciente{
}
	select{
		height: 20px;
		width: 100%;
	}
.pacientes_comentarios>input{
	height: 105px;
}
.btn_naranja_pacientes{
	margin-bottom: 2em;
	width: 25%;
}