.paciente_detalles_card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    border: 1px solid #DDDDDD;
    width: 95%;
    margin: 2em;
    background-color: white;
    border-radius: 5px;
}	
.paciente_detalles_info{
	display: inline-block;
	margin-top: -1em;
}

.paciente_detalles_general{
	display: inline-block;
	width: 40.1%;
}
.paciente_detalles_historial{
	display: inline-block;
	margin-left: 4%;
	width: 54.5%;
}
.paciente_detalles_visitas{
	margin-top: -1em;
}

.paciente_detalles_header{
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	border-bottom: 1px solid black;
}
.paciente_detalles_total{
	margin-left: 2%;
	font-size: 16px;
	font-size: 700;
	font-weight: bold;
}
.paciente_detalles_checkbox{
	width: 30%;
}
.paciente_detalles_botones{
	margin-top: -2em;
}

.paciente_detalles_historial_p_vacio{
	margin-top: -15%;
	margin-left: 12%;
	position: absolute;
	text-align: center;
	font-size: 20px;
	font-weight: 700;
}
.paciente_detalles_historial_button_vacio{
	background-color:#FD4B33;
	color: white;
	border-radius: 5px;
}
.historial_label{
	font-weight: 500;
	color: #555555;
	text-align: left;
}
