.paciente_detalles_card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    border: 1px solid #DDDDDD;
    width: 95%;
    margin: 2em;
    margin-top: 1em;
    background-color: white;
}	

.paciente_detalles_info{
	display: inline-block;
}

.paciente_detalles_general{
	display: inline-block;
	width: 39.1%;
	border-right: 1px solid #999999;
}
.paciente_detalles_historial{
	display: inline-block;
	width: 60.5%;
	border-left: 1px solid #999999;
}

.paciente_detalles_visitas{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border: 1px solid #DDDDDD;
    margin: 2em;
    width: 95%;
    margin-top: 2em;
}

	h5{
		margin-left: 1em;
	}
	span{
		margin-left: 2em;
		margin-bottom: 2em;
	}

.paciente_detalles_header{
	text-align: center;
	font-size: 24px;
	background-color: #3DA4D8;
	color: white;
}
.paciente_detalles_total{
	margin-left: 2%;
	font-size: 16px;
	font-size: 700;
	font-weight: bold;
}
.paciente_detalles_checkbox{
	/*width: 36%;*/
}

