.seccion_errores{
	width:95%;
	margin-bottom: 2em;
	border: 0.5px solid #999999;
	background-color: white;
	border-radius: 5px;
	margin-left: 2%;
	display: none;
}

.errores_h4{
	background-color: #c21416;
	padding: 0.5em;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-top: -7px;
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	color: white;
}

.errores_p{
	font-size: 16px;
	font-weight: 700;
	margin-left: 3%;
	display: none;
}
.errores_p>label{
	color: red;
	font-weight: 500;
}

.seccion_formulario{
	width:95%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	border: 1px solid #999999;
	background-color: white;
	margin-bottom: 2%;
	margin-left: 2%;
	height: 28em;
}
.seccion_1{
	width:46%;
	border: 0.5px solid #CCCCCC;
	border-radius: 5px;
	margin-left: 2em;	
	display: inline-block;
	padding: 2em;
	margin-top:2em;
}

.seccion_2{
	width:46%;
	border: 0.5px solid #CCCCCC;
	border-radius: 5px;
	margin-bottom: 2em;	
	margin-left: 2em;	
	display: inline-block;
	padding: 2em;
}
.boton_1{
	float: left;
	width: 25%;
	font-size: 18px;
	font-family: roboto;
}
.boton_2{
	margin-right: 20%;
	float: right;
	width: 25%;
	font-size: 18px;
	font-family: roboto;
	background-color: rgba(13, 5, 9, 0.14);
}


