.empleado_detalles{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 95%;
    margin-left: 2em;
}

.empleado_detalles_informacion{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 25%;
    display: inline-block;
    border: 1px solid black;
    margin-left: 1em;
}	
	span{
		margin-left: 2em;
		margin-bottom: 2em;
	}
.empleado_detalles_visitas{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width:72.5%;  
    display: inline-block;
    border: 1px solid black;
}
	span{
		margin-left: 2em;
		margin-bottom: 2em;
	}

.empleado_detalles_header{
	text-align: center;
	font-size: 24px;
}