.empleado_detalles{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 95%;
    margin-left: 2em;
    background-color: white;
}

.empleado_detalles_informacion{
	width: 95%;
    display: inline-block;
    margin-left: 1em;
}	
	span{
		margin-left: 2em;
		margin-bottom: 2em;
	}
.empleado_detalles_visitas{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width:67.5%;  
    display: inline-block;
    border: 1px solid black;
}
	span{
		margin-left: 2em;
		margin-bottom: 2em;
	}
.tbl_empleado_detalle{
	text-align: center;
	width: 80%;
}
.tbl_empleado_detalle>tbody>tr>td{
	border: 1pt solid white;
}
