body {
    margin:0;
}

.topnav {
    overflow: hidden;
    background-color: #008cba;
}

.topnav a, .topnav > div {
  display: block;
  text-align: center;
  text-decoration: none;
  height: 50px;
  
}

.topnav a:hover, .topnav > div:hover{
  background-color: #ddd;
  color: black;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 1000px) {
  .topnav a:not(:first-child), .topnav > div:not(:first-child) {
      display: none;
    }

  .topnav a.icon, .topnav > div.icon {
    float: right;
    display: block;
  }
}




/*-------------------------------------- divs ---------------------------------------------- */


.main-nav {
    overflow: hidden;
    background-color: #008cba;
    font-family: Roboto;
}

.main-nav a {
    float: left;
    font-size: 16px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.div-dropdown {
	float: left;
	color: #f2f2f2;
	text-align: center;
	text-decoration: none;
	border-right: 1px solid rgb(0, 137, 179);
}

.div-dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

.main-nav a:hover, .div-dropdown:hover .dropbtn {
	background-color: #ddd;
	color: black;
}

.dropdown-children {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 20%;
}


.dropdown-children a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-children a:hover {
    background-color: #ddd;
}

.div-dropdown:hover .dropdown-children {
    display: block;
}

.div-logout{
  float: right;
}

.div-logout > button > a{
  color: white;
}


@media screen and (max-width: 1000px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a, .topnav.responsive > div {
    float: none;
    display: block;
    text-align: left;
    text-decoration: none;
    font-size: 17px;
  }
  .dropdown-children {
    width: 50%;
  }
  
}
